---
layout: layout
---

<section class="gardner-home-bg " id="home">
    <div class="bg-overlay"></div>
    <div class="home-table">
        <div class="home-table-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 pt-3">
                        <div class="text-left text-white">
                            <h1 class="home-title" style="margin-bottom: 35px;">Gardner 4.2 Classic Package Purchase Agreement</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section" id="service">
    <div class="container">
        <div class="row justify-content-left">
            <div class="col-md-8 text-left">
                <h3>
                    Agreement of “One Time, Single Use” House Plan Package
                    license
                </h3>
                    <p>
                        SHEMSS HOMES (Designer Homes Solution, architectural
                        plans and finish material delivery company.) grants you
                        a non-exclusive license to use this house plan package
                        and it’s contents (hereafter referred to as “design"
                        “interior design” and “exterior design) for the
                        construction and design of your or your client's home,
                        subject to the following terms and conditions.
                    </p>
                    <h4>You May:</h4>
                    <ul>
                        <li>
                            Provide this design, in whole or part, to others
                            (sub-contractors, suppliers, architects, engineers
                            and others (herein referred to as "Agents") for the
                            purpose of allowing them to assist in the estimating
                            and construction of one structure/house only.
                        </li>
                        <li>
                            Print or make additional copies of this plan for the
                            sole purpose of constructing one structure/house at
                            the site listed below.
                        </li>
                    </ul>
                    <h4>You May Not:</h4>
                    <ul>
                        <li>
                            May not sell this home plan package or int’s
                            contents or any altered variations thereof.
                        </li>
                        <li>
                            May not build more than a single structure/ house
                            from this house plan package, in its original or
                            altered form.
                        </li>
                        <li>
                            May not distribute, duplicate or transfer this home
                            plan package or it’s contents in its original or
                            altered form, in any way or on any media, print or
                            digital, except as necessary to complete alterations
                            through your agents or except as necessary to use
                            for the construction of one structure/house at the
                            site listed below.
                        </li>
                        <li>
                            May not imply that the architect/designer is
                            responsible for any revisions to the design as
                            altered by you or your agents.
                        </li>
                        <li>
                            May not remove the SHEMSS HOMES architect/designer
                            copyright or the logo block that identifies the
                            design as a derivative of the original
                            architect/designer stock house plan package or its
                            contents.
                        </li>
                        <li>
                            May not extract any portion of this information from
                            the context of this design and apply to other
                            projects or distribute to others, any part or
                            portion of the design. All symbols, graphic
                            conventions and collections of drawn entities
                            contained within these drawings, representing the
                            design, are considered a portion of the whole and
                            are subject to all the terms and conditions herein.
                        </li>
                    </ul>
                    <h4>Copyright Ownership:</h4>
                    <p>
                        The Designer retains title to, ownership of and all
                        other proprietary rights in the original and all
                        subsequent copies of the design and any part thereof,
                        regardless of the form or media in which and which the
                        original and other copies may exist. Title, ownership
                        and all other proprietary rights remain with such
                        architect/designer even if the design or any part
                        thereof, are modified by you or your agents or are
                        included in altered designs created or modified by your
                        or your agents. This license is not a sale.
                    </p>

                    <h4>General Provisions:</h4>
                    <p>
                        In no event shall the Designer, or any entity under its
                        control be held liable for any part of this design, as
                        modified by you or any Agent. Failure to comply with any
                        term or condition of this license agreement will
                        automatically terminate this license and will make
                        available to the Designer other legal remedies. This
                        license agreement is the entire agreement between the
                        Designer and you, the end user, and supersedes any other
                        communications or advertising with respect to this
                        design and related documentation. If any provision of
                        this license agreement is held to be invalid, the
                        remainder of this agreement shall continue in full force
                        and effect. We strive very hard to always have satisfied
                        customers. We are happy to support our house plan
                        packages as much as possible once they leave our office
                        and are in your hands. We will work with you however
                        possible to make sure all your questions are answered,
                        and concerns addressed.
                    </p>
                    <p>
                        <strong>Return Policy:</strong> Due to the vulnerable
                        nature of digital and hardcopy products which can be
                        easily copied and duplicated. There are no returns or
                        refunds on downloadable digital products and hardcopy
                        products. Thank you for your understanding
                    </p>

                    <p style="color: #3e6ae1; font-weight: bold;" class="pt-5">I have read and agree to the terms and conditions <input class="ml-3" type="checkbox" id="termsChkbx " onclick="change_button(this,'sub1')"/></p>
                    <p><input type="submit" style="cursor: pointer;" class="btn btn-custom btn-rounded" value="Proceed To Checkout" id="sub1" disabled="disabled" onclick="window.open('https://buy.stripe.com/eVa5l3cv71IRff23cu')"/></p>

                    <script type = "text/javascript">
                    function change_button(checkbx,button_id) {
                        var btn = document.getElementById(button_id);
                        if (checkbx.checked == true) {
                            btn.disabled = "";
                        } else {
                            btn.disabled = "disabled";
                        }
                    }
                    </script>
                    <!-- <input type="checkbox" id="checkme"/><input type="submit" name="sendNewSms" class="inputButton" id="sendNewSms" value=" I Agree " /> -->
                    <!-- <input onclick="window.open('index.html')" type="submit" name="sendNewSms" class="inputButton" id="sendNewSms" value=" I agree and ready for Checkout " />

                    <input type="checkbox" onload="document.getElementById('sendNewSms').disabled" onchange="document.getElementById('sendNewSms').enabled = !this.checked;" /> -->
            </div>

        </div>
    </div>
</section>
