#topnav .has-submenu.active .submenu li.active > a,
#navigation li.active a,.text-custom,.features_box .features_icons{
    color: #3e6ae1 !important;
}

#topnav .has-submenu.active .menu-arrow,.form-custom .form-control:focus,.btn-custom,.services-boxed:hover i,.video-play-icon:hover,.forms-custom .form-control:focus{
    border-color: #3e6ae1 !important;
}

#topnav .navbar-toggle.open span:hover,.bg-custom,.btn-custom,.services-boxed:hover i,.video-play-icon:hover,.price .active .lable{
    background-color: #3e6ae1 !important;
}

.btn-custom{
    border: 2px solid #3e6ae1 !important;
}

.spinner {
    border-top: 5px solid rgba(208,146,94, 0.2);
    border-right: 5px solid rgba(208,146,94, 0.2);
    border-bottom: 5px solid rgba(208,146,94, 0.2);
    border-left: 5px solid #3e6ae1;
}

.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active,
.btn-custom.focus,
.btn-custom:active,
.btn-custom:focus,
.btn-custom:hover,
.open > .dropdown-toggle.btn-custom {
    background-color: #587d5c !important;
    border: 2px solid #587d5c !important;
}

@media (min-width: 992px) {
    #topnav .navigation-menu > li .submenu li a:hover,
    #topnav .navigation-menu .has-submenu .submenu > li:hover > a,
    #topnav .navigation-menu > li:hover > a {
        color: #3e6ae1 !important;
    }
    #topnav .navigation-menu > li:hover > .menu-arrow {
        border-color: #3e6ae1;
    }
}

@media (max-width: 991px) {
    #topnav .navigation-menu > li > a:hover,
    #topnav .navigation-menu > li .submenu li a:hover,
    #topnav .navigation-menu > li.has-submenu.open > a,
    #topnav .menu-extras .menu-item .cart > a:hover,
    #topnav .menu-extras .menu-item .search > a:hover,
    #topnav .navigation-menu .submenu.open .has-submenu.open > a,
    #topnav .has-submenu.active a {
        color: #3e6ae1;
    }
}
