---
layout: layout
---

<!--====== Paloma Model Configurator Screen ======-->
<section class="home-section" id="home">
    <div class="paloma-10-1-japanese-sable-rh" data-model="paloma-10-1">
        <div class="bg-overlay"></div>
        <div class="parent">
            <div class="child-1">
                <!-- Visible on md and lg -->
                <p class="home-title-1 d-none d-sm-block">Model Paloma 10.1</p>
                <!-- Visible only on xs -->
                <p class="home-title-2 d-block d-sm-none">Model Paloma 10.1</p>
                    <ul class="list-inline text-uppercase pt-2" style="line-height: 1.0em; color: #ffffff;">
                        <li class="list-inline-item" style="margin-right: 1.0em;">
                            <small><b style="font-size: 1.75em;">4</b><br>bed</small>
                        </li>
                        <li class="list-inline-item" style="margin-right: 1.0em;">
                            <small><b style="font-size: 1.75em;">3</b><br>bath</small>
                        </li>
                        <li class="list-inline-item" style="margin-right: 1.0em;">
                            <small><b style="font-size: 1.75em;">1</b><br>car garage</small>
                        </li>
                        <li class="list-inline-item" style="margin-right: 1.0em;">
                            <small><b style="font-size: 1.75em;">2080</b><br>sq. feet</small>
                        </li>
                        <!-- <li class="list-inline-item">
                            <small class="d-none d-sm-block"><b style="font-size: 1.75em;">$9,800</b><br>Started at</small>
                        </li> -->
                    </ul>
                    <!-- <p class="list-inline-item pt-2 d-block d-sm-none" style="color:  #ffffff; opacity: 0.8;">
                        <small>Started at <b>$9,800</b></small>
                    </p> -->
            </div>
            <div class="child-4"></div>
        </div>
    </div>
</section>
<!--====== End of Paloma Model Configurator Screen ======-->

<!--====== Paloma Model Configurator Control Bar ======-->
<section class="section bg-light">
    <div class="container">
    <div class="parent-model-configurator">
        <div class="hiddenradio">
            <!-- Visible on md and lg -->
            <h5 class="text-center d-none d-sm-block">Model</h5>
            <!-- Visible only on xs -->
            <h6 class="text-center d-block d-sm-none">Model</h6>

            <label>
              <input type="radio" name="model" value="model-10-0" onClick="window.location = '/models/paloma/hazel-10-1-floor-plan';">
              <img class="rounded-circle adjust-me-based-on-size" src="/images/models/paloma-10-1/configurator/model-10-0.png">
            </label>

            <label>
              <input type="radio" name="model" value="model-10-1" checked>
              <img class="rounded-circle adjust-me-based-on-size" src="/images/models/paloma-10-1/configurator/model-10-1.png">
            </label>
        </div>

        <div class="hiddenradio">
            <!-- Visible on md and lg -->
            <h5 class="text-center d-none d-sm-block">Exterior</h5>
            <!-- Visible only on xs -->
            <h6 class="text-center d-block d-sm-none">Exterior</h6>
            <label>
              <input type="radio" class="config-btn" data-side="exterior" name="exterior" value="japanese-sable" checked>
              <img class="rounded-circle adjust-me-based-on-size" src="/images/models/paloma-10-1/configurator/10-1-japanese-sable.jpg">
            </label>

            <label>
              <input type="radio" class="config-btn" data-side="exterior" name="exterior" value="polished-concrete">
              <img class="rounded-circle adjust-me-based-on-size" src="/images/models/paloma-10-1/configurator/10-1-polished-concrete.jpg">
            </label>

            <label>
              <input type="radio" class="config-btn" data-side="exterior" name="exterior" value="crushed-ice">
              <img class="rounded-circle adjust-me-based-on-size" src="/images/models/paloma-10-1/configurator/10-1-crushed-ice.jpg">
            </label>
        </div>

        <div class="hiddenradio">
            <!-- Visible on md and lg -->
            <h5 class="text-center d-none d-sm-block">Layout</h5>
            <!-- Visible only on xs -->
            <h6 class="text-center d-block d-sm-none">Layout</h6>
            <label>
              <input type="radio" class="config-btn" data-side="exterior" name="layout" value="rh" checked>
              <img class="rounded-circle adjust-me-based-on-size" src="/images/models/paloma-10-1/configurator/rh.png">
            </label>

            <label>
              <input type="radio" class="config-btn" data-side="exterior" name="layout" value="lh">
              <img class="rounded-circle adjust-me-based-on-size" src="/images/models/paloma-10-1/configurator/lh.png">
            </label>
        </div>

        <div class="hiddenradio">
            <!-- Visible on md and lg -->
            <h5 class="text-center d-none d-sm-block">Interior</h5>
            <!-- Visible only on xs -->
            <h6 class="text-center d-block d-sm-none">Interior</h6>
            <label>
              <input type="radio" class="config-btn" data-side="interior" name="interior" value="int-dark" checked>
              <img class="rounded-circle adjust-me-based-on-size" src="/images/models/paloma-10-1/configurator/int-dark.jpg">
            </label>

            <label>
              <input type="radio" class="config-btn" data-side="interior" name="interior" value="int-light">
              <img class="rounded-circle adjust-me-based-on-size" src="/images/models/paloma-10-1/configurator/int-light.jpg">
            </label>
        </div>

        <div class="hiddenradio">
            <!-- Visible on md and lg -->
            <h5 class="text-center d-none d-sm-block">Play</h5>
            <!-- Visible only on xs -->
            <h6 class="text-center d-block d-sm-none">Play</h6>
            <!-- Visible on md and lg -->
            <div class="text-center mt-3 d-none d-sm-block">
                <a href="https://res.cloudinary.com/shemss-designer-homes/video/upload/v1628872351/Modern_House_Design___Must_See___Lake_Tahoe_Designer___SHEMSS_jmjiwh.mp4" class="mx-auto video-play-icon" style="color: #3e6ae1;" id="video-play-icon"><i class="mdi mdi-play"></i></a>
            </div>
            <!-- Visible only on xs -->
            <div class="text-center mt-3 d-block d-sm-none">
                <a href="https://res.cloudinary.com/shemss-designer-homes/video/upload/v1628872351/Modern_House_Design___Must_See___Lake_Tahoe_Designer___SHEMSS_jmjiwh.mp4" class="mx-auto video-play-icon-mobile" style="color: #3e6ae1;" id="video-play-icon"><i class="mdi mdi-play"></i></a>
            </div>
        </div>
    </div>
    </div>
</section>
<!--====== End of Paloma Model Configurator Control Bar ======-->

<!--====== Paloma Model Plan Description ======-->
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <!-- Visible on md and lg -->
                <h1 class="text-center mt-5 d-none d-sm-block">Plan Description</h1>
                <!-- Visible only on xs -->
                <h1 class="text-center d-block d-sm-none">Plan Description</h1>
                <h4 class="text-center pt-3">
                    <strong>32x40 Building Area</strong>
                </h4>
                <p class="text-muted p-3 mt-3">
                    Paloma 10.0 expansive floor plan is the perfect home getaway
                    with a welcoming wide-stair entry. The quality craftsmanship
                    continues into the kitchen with cabinetry from Europe. An
                    open-concept kitchen leads out to the ground-level deck and
                    is perfect for grilling and a firepit. Each of the bedrooms
                    is tucked into separate corners of the house and separate
                    decks off the two living areas. This home offers relaxed
                    indoor/outdoor living.
                </p>
            </div>
            <div class="col-md-8">
                <img src="/images/models/paloma-10-1/configurator/10-1-plan-rh.png" alt="" class="img-fluid mx-auto d-block">
            </div>
        </div>
        <div class="text-center">
            <a href="https://my.matterport.com/show/?m=GJuRWejuMBf" class="btn btn-outline-dark btn-rounded">Explore 3D Space</a>
        </div>
    </div>
</section>
<!--====== End of Paloma Model Plan Description ======-->

<!--====== Price ======-->
<section class="section price bg-light" id="pricing">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center">
                <h3>Order Here &amp; Build Anywhere</h3>
                <p class="text-muted pt-4">
                    Designer homes solution, architectural plans, and
                    building material delivery company.
                </p>
            </div>
        </div>
        <div class="row pt-2 mt-4">
            <div class="col-lg-4">
                <h3 class="text-center p-3 mt-3" style="font-weight:900">Elite</h3>
                <div class="bg-white mt-3 text-center p-5">
                    <div class="plan-name">
                        <h6 class="mb-4" style="font-weight: 600 !important;">Home Plan, Design, &amp; Materials</h6>
                    </div>
                    <div class="plan-price">
                        <h4 class="pt-2">Call For Price</h4>
                    </div>
                    <div class="plan-features pt-4">
                        <p>Floorplan &amp; Design Drawings</p>
                        <p>PDF | CAD</p>
                        <p>Structural Material List</p>
                        <p>Exterior &amp; Interior Design Package</p>
                        <p>Hardcopy Book of the Model</p>
                        <p>Blueprint Copy</p>
                        <p>Finish Materials</p>
                        <p>Delivered to Site</p>
                    </div>
                    <div class="order pt-4">
                        <a href="/docs/paloma-10-1-elite.pdf" class="btn btn-outline-dark btn-rounded w-75">Package Specs</a>
                        <p class="pt-3">
                            <a href="tel:8889605263" class="btn btn-custom btn-rounded w-75"><i class="mdi mdi-phone icon icon--xs"></i> Call Now</a></a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <h3 class="text-center p-3 mt-3" style="font-weight:900">Premium</h3>
                <div class="bg-white mt-3 active text-center p-5">
                    <div class="plan-name">
                        <h6 class="mb-4" style="font-weight: 600 !important;">Home Plan &amp; Design</h6>
                    </div>
                    <div class="plan-price">
                        <h3 class="pt-2"><span>$</span>21,200</h3>
                    </div>
                    <div class="plan-features pt-4">
                        <p>Floorplan &amp; Design Drawings</p>
                        <p>PDF | CAD</p>
                        <p>Structural Material List</p>
                        <p>Exterior &amp; Interior Design Package</p>
                        <p>Hard Copy Book of the Model</p>
                        <p>Blueprint Copy</p>
                    </div>
                    <div class="order pt-4">
                        <a href="/docs/paloma-10-1-premium.pdf" class="btn btn-outline-dark btn-rounded w-75">Package Specs</a>
                        <p class="pt-3">
                            <!-- <a href="https://na4.docusign.net/Member/PowerFormSigning.aspx?PowerFormId=4e4f3225-b92b-49af-97ac-cf02d72adb6e&env=na4&acct=65a7e636-807c-4ffa-aa59-4bf5ccf71f6f&v=2" class="btn btn-custom btn-rounded w-75">Order Now</a> -->
                            <a href="/models/paloma/paloma-10-1-premium-agreement" class="btn btn-custom btn-rounded w-75">Order Now</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <h3 class="text-center p-3 mt-3" style="font-weight:900">Classic</h3>
                <div class="bg-white mt-3 text-center p-5">
                    <div class="plan-name">
                        <h6 class="mb-4" style="font-weight: 600 !important;">Home Plan</h6>
                    </div>
                    <div class="plan-price">
                        <h3 class="pt-2"><span>$</span>9,800</h3>
                    </div>
                    <div class="plan-features pt-4">
                        <p>Floorplan &amp; Design Drawings</p>
                        <p>PDF | CAD</p>
                        <p>Structural Material List</p>
                    </div>
                    <div class="order pt-4">
                        <a href="/docs/paloma-10-1-classic.pdf" class="btn btn-outline-dark btn-rounded w-75">Package Specs</a>
                        <p class="pt-3">
                            <!-- <a href="https://na4.docusign.net/Member/PowerFormSigning.aspx?PowerFormId=6bbf81b3-0a17-4bed-b939-9024a2183d85&env=na4&acct=65a7e636-807c-4ffa-aa59-4bf5ccf71f6f&v=2" class="btn btn-custom btn-rounded w-75">Order Now</a> -->
                            <a href="/models/paloma/paloma-10-1-classic-agreement" class="btn btn-custom btn-rounded w-75">Order Now</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--====== End Price ======-->

<!-- Visible on md and lg -->
<section class="image-gallery section d-none d-sm-block" id="client">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center">
                <h3>HOME IS ART&trade;</h3>
                <p class="text-muted pt-4">
                    Model Paloma 10.1 New Residential Architecture SHEMSS
                    Designer Homes
                </p>
            </div>
        </div>
        <div class="row mt-4 pt-4">
            <div id="screenshot">
                <div class="item m-3">
                    <a href="/images/models/paloma10-1/gallery/picture-1.jpg" class="mfp-image">
                        <img src="/images/models/paloma10-1/gallery/picture-1.jpg" alt="" class="img-fluid">
                    </a>
                </div>
                <div class="item m-3">
                    <a href="/images/models/paloma10-1/gallery/picture-2.jpg" class="mfp-image">
                        <img src="/images/models/paloma10-1/gallery/picture-2.jpg" alt="" class="img-fluid">
                    </a>
                </div>
                <div class="item m-3">
                    <a href="/images/models/paloma10-1/gallery/picture-3.jpg" class="mfp-image">
                        <img src="/images/models/paloma10-1/gallery/picture-3.jpg" alt="" class="img-fluid">
                    </a>
                </div>
                <div class="item m-3">
                    <a href="/images/models/paloma10-1/gallery/picture-4.jpg" class="mfp-image">
                        <img src="/images/models/paloma10-1/gallery/picture-4.jpg" alt="" class="img-fluid">
                    </a>
                </div>
                <div class="item m-3">
                    <a href="/images/models/paloma10-1/gallery/picture-5.jpg" class="mfp-image">
                        <img src="/images/models/paloma10-1/gallery/picture-5.jpg" alt="" class="img-fluid">
                    </a>
                </div>
                <div class="item m-3">
                    <a href="/images/models/paloma10-1/gallery/picture-6.jpg" class="mfp-image">
                        <img src="/images/models/paloma10-1/gallery/picture-6.jpg" alt="" class="img-fluid">
                    </a>
                </div>
                <div class="item m-3">
                    <a href="/images/models/paloma10-1/gallery/picture-7.jpg" class="mfp-image">
                        <img src="/images/models/paloma10-1/gallery/picture-7.jpg" alt="" class="img-fluid">
                    </a>
                </div>
                <div class="item m-3">
                    <a href="/images/models/paloma10-1/gallery/picture-8.jpg" class="mfp-image">
                        <img src="/images/models/paloma10-1/gallery/picture-8.jpg" alt="" class="img-fluid">
                    </a>
                </div>
                <div class="item m-3">
                    <a href="/images/models/paloma10-1/gallery/picture-9.jpg" class="mfp-image">
                        <img src="/images/models/paloma10-1/gallery/picture-9.jpg" alt="" class="img-fluid">
                    </a>
                </div>
                <div class="item m-3">
                    <a href="/images/models/paloma10-1/gallery/picture-10.jpg" class="mfp-image">
                        <img src="/images/models/paloma10-1/gallery/picture-10.jpg" alt="" class="img-fluid">
                    </a>
                </div>
                <div class="item m-3">
                    <a href="/images/models/paloma10-1/gallery/picture-11.jpg" class="mfp-image">
                        <img src="/images/models/paloma10-1/gallery/picture-11.jpg" alt="" class="img-fluid">
                    </a>
                </div>
                <div class="item m-3">
                    <a href="/images/models/paloma10-1/gallery/picture-12.jpg" class="mfp-image">
                        <img src="/images/models/paloma10-1/gallery/picture-12.jpg" alt="" class="img-fluid">
                    </a>
                </div>
                <div class="item m-3">
                    <a href="/images/models/paloma10-1/gallery/picture-13.jpg" class="mfp-image">
                        <img src="/images/models/paloma10-1/gallery/picture-13.jpg" alt="" class="img-fluid">
                    </a>
                </div>
                <div class="item m-3">
                    <a href="/images/models/paloma10-1/gallery/picture-14.jpg" class="mfp-image">
                        <img src="/images/models/paloma10-1/gallery/picture-14.jpg" alt="" class="img-fluid">
                    </a>
                </div>
                <div class="item m-3">
                    <a href="/images/models/paloma10-1/gallery/picture-15.jpg" class="mfp-image">
                        <img src="/images/models/paloma10-1/gallery/picture-15.jpg" alt="" class="img-fluid">
                    </a>
                </div>
                <div class="item m-3">
                    <a href="/images/models/paloma10-1/gallery/picture-16.jpg" class="mfp-image">
                        <img src="/images/models/paloma10-1/gallery/picture-16.jpg" alt="" class="img-fluid">
                    </a>
                </div>
                <div class="item m-3">
                    <a href="/images/models/paloma10-1/gallery/picture-17.jpg" class="mfp-image">
                        <img src="/images/models/paloma10-1/gallery/picture-17.jpg" alt="" class="img-fluid">
                    </a>
                </div>
                <div class="item m-3">
                    <a href="/images/models/paloma10-1/gallery/picture-18.jpg" class="mfp-image">
                        <img src="/images/models/paloma10-1/gallery/picture-18.jpg" alt="" class="img-fluid">
                    </a>
                </div>
                <div class="item m-3">
                    <a href="/images/models/paloma10-1/gallery/picture-19.jpg" class="mfp-image">
                        <img src="/images/models/paloma10-1/gallery/picture-19.jpg" alt="" class="img-fluid">
                    </a>
                </div>
                <div class="item m-3">
                    <a href="/images/models/paloma10-1/gallery/picture-20.jpg" class="mfp-image">
                        <img src="/images/models/paloma10-1/gallery/picture-20.jpg" alt="" class="img-fluid">
                    </a>
                </div>
                <div class="item m-3">
                    <a href="/images/models/paloma10-1/gallery/picture-21.jpg" class="mfp-image">
                        <img src="/images/models/paloma10-1/gallery/picture-21.jpg" alt="" class="img-fluid">
                    </a>
                </div>
                <div class="item m-3">
                    <a href="/images/models/paloma10-1/gallery/picture-22.jpg" class="mfp-image">
                        <img src="/images/models/paloma10-1/gallery/picture-22.jpg" alt="" class="img-fluid">
                    </a>
                </div>
                <div class="item m-3">
                    <a href="/images/models/paloma10-1/gallery/picture-23.jpg" class="mfp-image">
                        <img src="/images/models/paloma10-1/gallery/picture-23.jpg" alt="" class="img-fluid">
                    </a>
                </div>
                <div class="item m-3">
                    <a href="/images/models/paloma10-1/gallery/picture-24.jpg" class="mfp-image">
                        <img src="/images/models/paloma10-1/gallery/picture-24.jpg" alt="" class="img-fluid">
                    </a>
                </div>
                <div class="item m-3">
                    <a href="/images/models/paloma10-1/gallery/picture-25.jpg" class="mfp-image">
                        <img src="/images/models/paloma10-1/gallery/picture-25.jpg" alt="" class="img-fluid">
                    </a>
                </div>
                <div class="item m-3">
                    <a href="/images/models/paloma10-1/gallery/picture-26.jpg" class="mfp-image">
                        <img src="/images/models/paloma10-1/gallery/picture-26.jpg" alt="" class="img-fluid">
                    </a>
                </div>
                <div class="item m-3">
                    <a href="/images/models/paloma10-1/gallery/picture-27.jpg" class="mfp-image">
                        <img src="/images/models/paloma10-1/gallery/picture-27.jpg" alt="" class="img-fluid">
                    </a>
                </div>
                <div class="item m-3">
                    <a href="/images/models/paloma10-1/gallery/picture-28.jpg" class="mfp-image">
                        <img src="/images/models/paloma10-1/gallery/picture-28.jpg" alt="" class="img-fluid">
                    </a>
                </div>
                <div class="item m-3">
                    <a href="/images/models/paloma10-1/gallery/picture-29.jpg" class="mfp-image">
                        <img src="/images/models/paloma10-1/gallery/picture-29.jpg" alt="" class="img-fluid">
                    </a>
                </div>
                <div class="item m-3">
                    <a href="/images/models/paloma10-1/gallery/picture-30.jpg" class="mfp-image">
                        <img src="/images/models/paloma10-1/gallery/picture-30.jpg" alt="" class="img-fluid">
                    </a>
                </div>
                <div class="item m-3">
                    <a href="/images/models/paloma10-1/gallery/picture-31.jpg" class="mfp-image">
                        <img src="/images/models/paloma10-1/gallery/picture-31.jpg" alt="" class="img-fluid">
                    </a>
                </div>
                <div class="item m-3">
                    <a href="/images/models/paloma10-1/gallery/picture-32.jpg" class="mfp-image">
                        <img src="/images/models/paloma10-1/gallery/picture-32.jpg" alt="" class="img-fluid">
                    </a>
                </div>
                <div class="item m-3">
                    <a href="/images/models/paloma10-1/gallery/picture-33.jpg" class="mfp-image">
                        <img src="/images/models/paloma10-1/gallery/picture-33.jpg" alt="" class="img-fluid">
                    </a>
                </div>
                <div class="item m-3">
                    <a href="/images/models/paloma10-1/gallery/picture-34.jpg" class="mfp-image">
                        <img src="/images/models/paloma10-1/gallery/picture-34.jpg" alt="" class="img-fluid">
                    </a>
                </div>
                <div class="item m-3">
                    <a href="/images/models/paloma10-1/gallery/picture-35.jpg" class="mfp-image">
                        <img src="/images/models/paloma10-1/gallery/picture-35.jpg" alt="" class="img-fluid">
                    </a>
                </div>
                <div class="item m-3">
                    <a href="/images/models/paloma10-1/gallery/picture-36.jpg" class="mfp-image">
                        <img src="/images/models/paloma10-1/gallery/picture-36.jpg" alt="" class="img-fluid">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Visible only on xs -->
<section class="image-gallery section d-block d-sm-none" id="client">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center">
                <h3>HOME IS ART&trade;</h3>
                <p class="text-muted pt-4">
                    Model Paloma 10.0 New Residential Architecture SHEMSS
                    Designer Homes
                </p>
            </div>
        </div>
        <div class="row mt-4 pt-4">
            <div id="carousel-example" class="carousel slide" data-interval="false">
                <div class="carousel-inner row w-100 mx-auto" role="listbox">
                    <div class="carousel-item col-12 active">
                        <img src="/images/models/paloma10-1/gallery/picture-1.jpg" class="img-fluid mx-auto d-block" alt="img1">
                    </div>
                    <div class="carousel-item col-12">
                        <img src="/images/models/paloma10-1/gallery/picture-2.jpg" class="img-fluid mx-auto d-block" alt="img2">
                    </div>
                    <div class="carousel-item col-12">
                        <img src="/images/models/paloma10-1/gallery/picture-3.jpg" class="img-fluid mx-auto d-block" alt="img3">
                    </div>
                    <div class="carousel-item col-12">
                        <img src="/images/models/paloma10-1/gallery/picture-4.jpg" class="img-fluid mx-auto d-block" alt="img4">
                    </div>
                    <div class="carousel-item col-12">
                        <img src="/images/models/paloma10-1/gallery/picture-5.jpg" class="img-fluid mx-auto d-block" alt="img5">
                    </div>
                    <div class="carousel-item col-12">
                        <img src="/images/models/paloma10-1/gallery/picture-6.jpg" class="img-fluid mx-auto d-block" alt="img6">
                    </div>
                    <div class="carousel-item col-12">
                        <img src="/images/models/paloma10-1/gallery/picture-7.jpg" class="img-fluid mx-auto d-block" alt="img7">
                    </div>
                    <div class="carousel-item col-12">
                        <img src="/images/models/paloma10-1/gallery/picture-8.jpg" class="img-fluid mx-auto d-block" alt="img8">
                    </div>
                    <div class="carousel-item col-12">
                        <img src="/images/models/paloma10-1/gallery/picture-9.jpg" class="img-fluid mx-auto d-block" alt="img9">
                    </div>
                    <div class="carousel-item col-12">
                        <img src="/images/models/paloma10-1/gallery/picture-10.jpg" class="img-fluid mx-auto d-block" alt="img10">
                    </div>
                    <div class="carousel-item col-12">
                        <img src="/images/models/paloma10-1/gallery/picture-11.jpg" class="img-fluid mx-auto d-block" alt="img11">
                    </div>
                    <div class="carousel-item col-12">
                        <img src="/images/models/paloma10-1/gallery/picture-12.jpg" class="img-fluid mx-auto d-block" alt="img12">
                    </div>
                    <div class="carousel-item col-12">
                        <img src="/images/models/paloma10-1/gallery/picture-13.jpg" class="img-fluid mx-auto d-block" alt="img13">
                    </div>
                    <div class="carousel-item col-12">
                        <img src="/images/models/paloma10-1/gallery/picture-14.jpg" class="img-fluid mx-auto d-block" alt="img14">
                    </div>
                    <div class="carousel-item col-12">
                        <img src="/images/models/paloma10-1/gallery/picture-15.jpg" class="img-fluid mx-auto d-block" alt="img15">
                    </div>
                    <div class="carousel-item col-12">
                        <img src="/images/models/paloma10-1/gallery/picture-16.jpg" class="img-fluid mx-auto d-block" alt="img16">
                    </div>
                    <div class="carousel-item col-12">
                        <img src="/images/models/paloma10-1/gallery/picture-17.jpg" class="img-fluid mx-auto d-block" alt="img17">
                    </div>
                    <div class="carousel-item col-12">
                        <img src="/images/models/paloma10-1/gallery/picture-18.jpg" class="img-fluid mx-auto d-block" alt="img18">
                    </div>
                    <div class="carousel-item col-12">
                        <img src="/images/models/paloma10-1/gallery/picture-19.jpg" class="img-fluid mx-auto d-block" alt="img19">
                    </div>
                    <div class="carousel-item col-12">
                        <img src="/images/models/paloma10-1/gallery/picture-20.jpg" class="img-fluid mx-auto d-block" alt="img20">
                    </div>
                    <div class="carousel-item col-12">
                        <img src="/images/models/paloma10-1/gallery/picture-21.jpg" class="img-fluid mx-auto d-block" alt="img21">
                    </div>
                    <div class="carousel-item col-12">
                        <img src="/images/models/paloma10-1/gallery/picture-22.jpg" class="img-fluid mx-auto d-block" alt="img22">
                    </div>
                    <div class="carousel-item col-12">
                        <img src="/images/models/paloma10-1/gallery/picture-23.jpg" class="img-fluid mx-auto d-block" alt="img23">
                    </div>
                    <div class="carousel-item col-12">
                        <img src="/images/models/paloma10-1/gallery/picture-24.jpg" class="img-fluid mx-auto d-block" alt="img24">
                    </div>
                    <div class="carousel-item col-12">
                        <img src="/images/models/paloma10-1/gallery/picture-25.jpg" class="img-fluid mx-auto d-block" alt="img25">
                    </div>
                    <div class="carousel-item col-12">
                        <img src="/images/models/paloma10-1/gallery/picture-26.jpg" class="img-fluid mx-auto d-block" alt="img26">
                    </div>
                    <div class="carousel-item col-12">
                        <img src="/images/models/paloma10-1/gallery/picture-27.jpg" class="img-fluid mx-auto d-block" alt="img27">
                    </div>
                    <div class="carousel-item col-12">
                        <img src="/images/models/paloma10-1/gallery/picture-28.jpg" class="img-fluid mx-auto d-block" alt="img28">
                    </div>
                    <div class="carousel-item col-12">
                        <img src="/images/models/paloma10-1/gallery/picture-29.jpg" class="img-fluid mx-auto d-block" alt="img29">
                    </div>
                    <div class="carousel-item col-12">
                        <img src="/images/models/paloma10-1/gallery/picture-30.jpg" class="img-fluid mx-auto d-block" alt="img30">
                    </div>
                    <div class="carousel-item col-12">
                        <img src="/images/models/paloma10-1/gallery/picture-31.jpg" class="img-fluid mx-auto d-block" alt="img31">
                    </div>
                    <div class="carousel-item col-12">
                        <img src="/images/models/paloma10-1/gallery/picture-32.jpg" class="img-fluid mx-auto d-block" alt="img32">
                    </div>
                    <div class="carousel-item col-12">
                        <img src="/images/models/paloma10-1/gallery/picture-33.jpg" class="img-fluid mx-auto d-block" alt="img33">
                    </div>
                    <div class="carousel-item col-12">
                        <img src="/images/models/paloma10-1/gallery/picture-34.jpg" class="img-fluid mx-auto d-block" alt="img34">
                    </div>
                    <div class="carousel-item col-12">
                        <img src="/images/models/paloma10-1/gallery/picture-35.jpg" class="img-fluid mx-auto d-block" alt="img35">
                    </div>
                    <div class="carousel-item col-12">
                        <img src="/images/models/paloma10-1/gallery/picture-36.jpg" class="img-fluid mx-auto d-block" alt="img36">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carousel-example" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only" style="margin-left: 25px !important;">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carousel-example" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only" style="margin-right: 25px !important;">Next</span>
                </a>
            </div>
        </div>
    </div>
</section>

