/* Silver Model 7.0 Exterior */
.silver-7-0-kings-canyon-rh {
    background-image: url('/images/models/silver/configurator/silver-7-0-kings-canyon-rh.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 68vh !important;
}

.silver-7-0-ash-tree-rh {
    background-image: url('/images/models/silver/configurator/silver-7-0-ash-tree-rh.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 68vh !important;
}

.silver-7-0-crossroads-rh {
    background-image: url('/images/models/silver/configurator/silver-7-0-crossroads-rh.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 68vh !important;
}

.silver-7-0-kings-canyon-lh {
    background-image: url('/images/models/silver/configurator/silver-7-0-kings-canyon-lh.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 68vh !important;
}

.silver-7-0-ash-tree-lh {
    background-image: url('/images/models/silver/configurator/silver-7-0-ash-tree-lh.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 68vh !important;
}

.silver-7-0-crossroads-lh {
    background-image: url('/images/models/silver/configurator/silver-7-0-crossroads-lh.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 68vh !important;
}

/* Silver Model 7.0 Interior Light */
@media (min-width: 700px) {
  .silver-7-0-int-light {
    background-image: url('/images/models/silver/configurator/silver-7-0-int-light.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 68vh !important;
  }
}
@media (max-width: 700px) {
  .silver-7-0-int-light {
    background-image: url('/images/models/silver/configurator/silver-7-0-int-light.jpg');
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #b2b2b2;
    height: 68vh !important;
  }
}

/* Silver Model 7.0 Interior Dark */
@media (min-width: 700px) {
  .silver-7-0-int-dark {
    background-image: url('/images/models/silver/configurator/silver-7-0-int-dark.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 68vh !important;
  }
}
@media (max-width: 700px) {
  .silver-7-0-int-dark {
    background-image: url('/images/models/silver/configurator/silver-7-0-int-dark.jpg');
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #b2b2b2;
    height: 68vh !important;
  }
}

/* Tavor Model 8.0 Exterior */
.tavor-8-0-black-lh {
    background-image: url('/images/models/tavor/configurator/tavor-8-0-black-lh.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 68vh !important;
}

.tavor-8-0-chocolate-lh {
    background-image: url('/images/models/tavor/configurator/tavor-8-0-chocolate-lh.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 68vh !important;
}

.tavor-8-0-dark-gray-lh {
    background-image: url('/images/models/tavor/configurator/tavor-8-0-dark-gray-lh.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 68vh !important;
}

.tavor-8-0-black-rh {
    background-image: url('/images/models/tavor/configurator/tavor-8-0-black-rh.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 68vh !important;
}

.tavor-8-0-chocolate-rh {
    background-image: url('/images/models/tavor/configurator/tavor-8-0-chocolate-rh.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 68vh !important;
}

.tavor-8-0-dark-gray-rh {
    background-image: url('/images/models/tavor/configurator/tavor-8-0-dark-gray-rh.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 68vh !important;
}

/* Tavor Model 8.0 Interior Light */
@media (min-width: 700px) {
  .tavor-8-0-int-light {
    background-image: url('/images/models/tavor/configurator/tavor-8-0-int-light.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 68vh !important;
  }
}
@media (max-width: 700px) {
  .tavor-8-0-int-light {
    background-image: url('/images/models/tavor/configurator/tavor-8-0-int-light.jpg');
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #b2b2b2;
    height: 68vh !important;
  }
}

/* Tavor Model 8.0 Interior Dark */
@media (min-width: 700px) {
  .tavor-8-0-int-dark {
    background-image: url('/images/models/tavor/configurator/tavor-8-0-int-dark.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 68vh !important;
  }
}
@media (max-width: 700px) {
  .tavor-8-0-int-dark {
    background-image: url('/images/models/tavor/configurator/tavor-8-0-int-dark.jpg');
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #b2b2b2;
    height: 68vh !important;
  }
}

/* Shimizu Model 6.0 Exterior */
.shimizu-6-0-kings-canyon-lh {
    background-image: url('/images/models/shimizu/configurator/shimizu-6-0-kings-canyon-lh.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 68vh !important;
}

.shimizu-6-0-crossroads-lh {
    background-image: url('/images/models/shimizu/configurator/shimizu-6-0-crossroads-lh.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 68vh !important;
}

.shimizu-6-0-black-lh {
    background-image: url('/images/models/shimizu/configurator/shimizu-6-0-black-lh.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 68vh !important;
}

.shimizu-6-0-kings-canyon-rh {
    background-image: url('/images/models/shimizu/configurator/shimizu-6-0-kings-canyon-rh.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 68vh !important;
}

.shimizu-6-0-crossroads-rh {
    background-image: url('/images/models/shimizu/configurator/shimizu-6-0-crossroads-rh.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 68vh !important;
}

.shimizu-6-0-black-rh {
    background-image: url('/images/models/shimizu/configurator/shimizu-6-0-black-rh.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 68vh !important;
}

/* Shimizu Model 6.0 Interior Light */
@media (min-width: 700px) {
  .shimizu-6-0-int-light {
    background-image: url('/images/models/shimizu/configurator/shimizu-6-0-int-light.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 68vh !important;
  }
}
@media (max-width: 700px) {
  .shimizu-6-0-int-light {
    background-image: url('/images/models/shimizu/configurator/shimizu-6-0-int-light.jpg');
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #b2b2b2;
    height: 68vh !important;
  }
}

/* Shimizu Model 6.0 Interior Dark */
@media (min-width: 700px) {
  .shimizu-6-0-int-dark {
    background-image: url('/images/models/shimizu/configurator/shimizu-6-0-int-dark.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 68vh !important;
  }
}
@media (max-width: 700px) {
  .shimizu-6-0-int-dark {
    background-image: url('/images/models/shimizu/configurator/shimizu-6-0-int-dark.jpg');
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #b2b2b2;
    height: 68vh !important;
  }
}

/* Paloma Model 10.0 Exterior */
.paloma-10-0-brown-lh {
    background-image: url('/images/models/paloma/configurator/paloma-10-0-brown-lh.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 68vh !important;
}

.paloma-10-0-crushed-ice-lh {
    background-image: url('/images/models/paloma/configurator/paloma-10-0-crushed-ice-lh.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 68vh !important;
}

.paloma-10-0-dark-gray-lh {
    background-image: url('/images/models/paloma/configurator/paloma-10-0-dark-gray-lh.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 68vh !important;
}

.paloma-10-0-brown-rh {
    background-image: url('/images/models/paloma/configurator/paloma-10-0-brown-rh.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 68vh !important;
}

.paloma-10-0-crushed-ice-rh {
    background-image: url('/images/models/paloma/configurator/paloma-10-0-crushed-ice-rh.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 68vh !important;
}

.paloma-10-0-dark-gray-rh {
    background-image: url('/images/models/paloma/configurator/paloma-10-0-dark-gray-rh.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 68vh !important;
}

/* Paloma Model 10.0 Interior Light */
@media (min-width: 700px) {
  .paloma-10-0-int-light {
    background-image: url('/images/models/paloma/configurator/paloma-10-0-int-light.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 68vh !important;
  }
}
@media (max-width: 700px) {
  .paloma-10-0-int-light {
    background-image: url('/images/models/paloma/configurator/paloma-10-0-int-light.jpg');
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #b2b2b2;
    height: 68vh !important;
  }
}

/* Paloma Model 10.0 Interior Dark */
@media (min-width: 700px) {
  .paloma-10-0-int-dark {
    background-image: url('/images/models/paloma/configurator/paloma-10-0-int-dark.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 68vh !important;
  }
}
@media (max-width: 700px) {
  .paloma-10-0-int-dark {
    background-image: url('/images/models/paloma/configurator/paloma-10-0-int-dark.jpg');
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #b2b2b2;
    height: 68vh !important;
  }
}

/* Paloma Model 10.1 Exterior */
.paloma-10-1-japanese-sable-lh {
    background-image: url('/images/models/paloma-10-1/configurator/paloma-10-1-japanese-sable-lh.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 68vh !important;
}

.paloma-10-1-crushed-ice-lh {
    background-image: url('/images/models/paloma-10-1/configurator/paloma-10-1-crushed-ice-lh.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 68vh !important;
}

.paloma-10-1-polished-concrete-lh {
    background-image: url('/images/models/paloma-10-1/configurator/paloma-10-1-polished-concrete-lh.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 68vh !important;
}

.paloma-10-1-polished-concrete-rh {
    background-image: url('/images/models/paloma-10-1/configurator/paloma-10-1-polished-concrete-rh.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 68vh !important;
}

.paloma-10-1-crushed-ice-rh {
    background-image: url('/images/models/paloma-10-1/configurator/paloma-10-1-crushed-ice-rh.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 68vh !important;
}

.paloma-10-1-japanese-sable-rh {
    background-image: url('/images/models/paloma-10-1/configurator/paloma-10-1-japanese-sable-rh.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 68vh !important;
}

/* Paloma Model 10.1 Interior Light */
@media (min-width: 700px) {
  .paloma-10-1-int-light {
    background-image: url('/images/models/paloma-10-1/configurator/paloma-10-1-int-light.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 68vh !important;
  }
}
@media (max-width: 700px) {
  .paloma-10-1-int-light {
    background-image: url('/images/models/paloma-10-1/configurator/paloma-10-1-int-light.jpg');
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #b2b2b2;
    height: 68vh !important;
  }
}

/* Paloma Model 10.1 Interior Dark */
@media (min-width: 700px) {
  .paloma-10-1-int-dark {
    background-image: url('/images/models/paloma-10-1/configurator/paloma-10-1-int-dark.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 68vh !important;
  }
}
@media (max-width: 700px) {
  .paloma-10-1-int-dark {
    background-image: url('/images/models/paloma-10-1/configurator/paloma-10-1-int-dark.jpg');
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #b2b2b2;
    height: 68vh !important;
  }
}

/* Omalley Model 1.0 Exterior */
.omalley-1-0-brown-lh {
    background-image: url('/images/models/omalley/configurator/omalley-1-0-brown-lh.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 68vh !important;
}

.omalley-1-0-black-lh {
    background-image: url('/images/models/omalley/configurator/omalley-1-0-black-lh.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 68vh !important;
}

.omalley-1-0-gray-lh {
    background-image: url('/images/models/omalley/configurator/omalley-1-0-gray-lh.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 68vh !important;
}

.omalley-1-0-brown-rh {
    background-image: url('/images/models/omalley/configurator/omalley-1-0-brown-rh.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 68vh !important;
}

.omalley-1-0-black-rh {
    background-image: url('/images/models/omalley/configurator/omalley-1-0-black-rh.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 68vh !important;
}

.omalley-1-0-gray-rh {
    background-image: url('/images/models/omalley/configurator/omalley-1-0-gray-rh.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 68vh !important;
}

/* O'Malley Model 1.0 Interior Light */
@media (min-width: 700px) {
  .omalley-1-0-int-light {
    background-image: url('/images/models/omalley/configurator/omalley-1-0-int-light.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 68vh !important;
  }
}
@media (max-width: 700px) {
  .omalley-1-0-int-light {
    background-image: url('/images/models/omalley/configurator/omalley-1-0-int-light.jpg');
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #b2b2b2;
    height: 68vh !important;
  }
}

/* O'Malley Model 1.0 Interior Dark */
@media (min-width: 700px) {
  .omalley-1-0-int-dark {
    background-image: url('/images/models/omalley/configurator/omalley-1-0-int-dark.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 68vh !important;
  }
}
@media (max-width: 700px) {
  .omalley-1-0-int-dark {
    background-image: url('/images/models/omalley/configurator/omalley-1-0-int-dark.jpg');
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #b2b2b2;
    height: 68vh !important;
  }
}

/* Gardner Model 4.0 Exterior */

.gardner-4-0-natural-wood-rh {
    background-image: url('/images/models/gardner/configurator/gardner-4-0-natural-wood-rh.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 68vh !important;
}

/* Gardner 4.0 Interior */
.gardner-4-0-int-dark {
    background-image: url('/images/models/gardner/configurator/gardner-4-0-int-dark.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 68vh !important;
}

/* Gardner Model 4.1 Exterior */

.gardner-4-1-natural-wood-rh {
    background-image: url('/images/models/gardner-4-1/configurator/gardner-4-1-natural-wood-rh.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 68vh !important;
}

/* Gardner 4.1 Interior */
.gardner-4-1-int-light {
    background-image: url('/images/models/gardner-4-1/configurator/gardner-4-1-int-light.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 68vh !important;
}

/* Gardner Model 4.2 Exterior */

.gardner-4-2-natural-wood-rh {
    background-image: url('/images/models/gardner-4-2/configurator/gardner-4-2-natural-wood-rh.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 68vh !important;
}

/* Gardner 4.2 Interior */
.gardner-4-2-int-light {
    background-image: url('/images/models/gardner-4-2/configurator/gardner-4-2-int-light.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 68vh !important;
}

/* Hazel Model 9.0 Exterior */

.hazel-9-0-brown-rh {
    background-image: url('/images/models/hazel/configurator/hazel-9-0-brown-rh.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 68vh !important;
}

/* Hazel 9.0 Interior */
.hazel-9-0-int-dark {
    background-image: url('/images/models/hazel/configurator/hazel-9-0-int-dark.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 68vh !important;
}

/* Hazel Model 9.1 Exterior */

.hazel-9-1-brown-rh {
    background-image: url('/images/models/hazel-9-1/configurator/hazel-9-1-brown-rh.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 68vh !important;
}

/* Hazel 9.1 Interior */
.hazel-9-1-int-light {
    background-image: url('/images/models/hazel-9-1/configurator/hazel-9-1-int-light.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 68vh !important;
}

/* Hazel Model 9.2 Exterior */

.hazel-9-2-grey-rh {
    background-image: url('/images/models/hazel-9-2/configurator/hazel-9-2-grey-rh.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 68vh !important;
}

/* Vincenzo Model 2.0 Exterior */

.vincenzo-2-0-brown-rh {
    background-image: url('/images/models/vincenzo/configurator/vincenzo-2-0-brown-rh.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 68vh !important;
}

/* Vincenzo 2.0 Interior */
.vincenzo-2-0-int-dark {
    background-image: url('/images/models/vincenzo/configurator/vincenzo-2-0-int-dark.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 68vh !important;
}

/* Maui Model 3.0 Exterior */

.maui-3-0-white-rh {
    background-image: url('/images/models/maui/configurator/maui-3-0-white-rh.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 68vh !important;
}

/* Maui 3.0 Interior */
.maui-3-0-int-light {
    background-image: url('/images/models/maui/configurator/maui-3-0-int-light.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 68vh !important;
}
