.parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.parent-main-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.child-0 {
  z-index: 1020;
  width: 90%;  /* Or whatever */
  height: 15px; /* Or whatever */
  margin: auto;  /* Magic! */
}

.child-1 {
  z-index: 1020;
  width: 90%;  /* Or whatever */
  height: 20%; /* Or whatever */
  margin: auto;  /* Magic! */
  vertical-align: bottom;
  text-align: center;
}

.child-2 {
  z-index: 1020;
  width: 90%;  /* Or whatever */
  height: 25%; /* Or whatever */
  margin: auto;  /* Magic! */
  vertical-align: bottom;
  text-align: center;
}

.child-3 {
  z-index: 1020;
  width: 90%;  /* Or whatever */
  height: 10%; /* Or whatever */
  margin: auto;  /* Magic! */
  vertical-align: bottom;
  text-align: center;
}

.child-4 {
  z-index: 1020;
  width: 90%;  /* Or whatever */
  height: 15px; /* Or whatever */
  margin: auto;  /* Magic! */
  vertical-align: bottom;
  text-align: center;
}

.child-5 {
  z-index: 1020;
  width: 90%;  /* Or whatever */
  height: 15px; /* Or whatever */
  margin: auto;  /* Magic! */
  text-align: center;
  vertical-align: top;
}

.child-3-xs {
  z-index: 1020;
  width: 90%;  /* Or whatever */
  height: 25%; /* Or whatever */
  margin: auto;  /* Magic! */
  vertical-align: bottom;
  text-align: center;
}

.child-main-nav-logo {
  width: 27%;  /* Or whatever */
  margin: auto;  /* Magic! */
  text-align: left;
}

.child-main-nav-center-menu {
  /*width: 30%;*/  /* Or whatever */
  margin: auto;  /* Magic! */
  text-align: left;
  padding-left: 25px;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  line-height: 20px;
}

.child-main-nav-right-menu {
  width: 27%;  /* Or whatever */
  margin: auto;  /* Magic! */
  text-align: right;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  line-height: 20px;
}

/* Model Configurator */

.parent-model-configurator {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -8px -30px;
}

.child-model-configurator-0 {
  width: 90%;  /* Or whatever */
  height: 15px; /* Or whatever */
  margin: auto;  /* Magic! */
}

.child-model-configurator-1 {
  width: 90%;  /* Or whatever */
  height: 20%; /* Or whatever */
  margin: auto;  /* Magic! */
  vertical-align: bottom;
  text-align: center;
}

.child-model-configurator-2 {
  width: 90%;  /* Or whatever */
  height: 25%; /* Or whatever */
  margin: auto;  /* Magic! */
  vertical-align: bottom;
  text-align: center;
}

.child-model-configurator-3 {
  width: 90%;  /* Or whatever */
  height: 10%; /* Or whatever */
  margin: auto;  /* Magic! */
  vertical-align: bottom;
  text-align: center;
}