.hiddenradio {
  padding: 0 8px;
  margin-bottom: 30px;
}

.hiddenradio label {
  padding-top: 8px;
}

/* HIDE RADIO */
.hiddenradio [type=radio] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
.hiddenradio [type=radio] + img {
  cursor: pointer;
  border: 3px solid transparent;
  padding: 3px;

  display: inline-table;
  max-width: 46px;
}

/* CHECKED STYLES */
.hiddenradio [type=radio]:checked + img {
  border-color: #3e6ae1;
}
