/* Theme Name: Told - Onepage Multipurpose Template
   Author: Zoyothemes
   Version: 1.0.0
   Created: December 2017
   File Description: Main JS file of the template
*/


/*===================
*   1.Pre-Loader    *
*   2.Helper        *
*   3.Home          *
*   4.Services      *
*   5.Features      *
*   6.Video         *
*   7.Screenshot    *
*   8.Testimonial   *
*   9.Pricing       *
*   10.Download     *
*   11.Contact Us   *
*   12.Footer       *
*   13.Responsive   *
*===================*/

body {
    font-family: proxima-nova, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #252525;
}

a,
button {
    text-decoration: none !important;
    outline: none !important;
}


/* ============
   1. Pre Loader
============== */

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 9999999;
}

#status {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -20px 0 0 -20px;
}

.spinner {
    margin: 0 auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
}

.spinner,
.spinner:after {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


.hul {
    content: "";
    display: block;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-bottom: solid 2px #ccc;
    width: 3rem;
}


/*======================
        2.HELPER
========================*/

.section {
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
    background-color: #fff;
}

.text-muted {
    color: #808080 !important;
}

.bg-overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}


.btn {
    padding: 12px 25px;
    font-size: 12px;
    letter-spacing: 0.03em;
    font-weight: 700;
    text-transform: uppercase;
}

.btn-rounded {
    border-radius: 30px;
}

.btn-custom {
    background-color: #3e6ae1;
    border: 2px solid #3e6ae1 !important;
    border-radius: 30px;
    transition: all 0.4s;
    color: #fff;
}

.btn-custom-1 {
    background-color: #fff;
    /*border: 2px solid #3e6ae1 !important;*/
    border-radius: 30px;
    transition: all 0.4s;
    color: #666;
}

.btn-nav {
    transition: all 0.4s;
    background-color: #3e6ae1;
}

.btn-nav:hover {
    background-color: #3051ab !important;
    color: #fff !important;
}

.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active,
.btn-custom.focus,
.btn-custom:active,
.btn-custom:focus,
.btn-custom:hover,
.open > .dropdown-toggle.btn-custom {
    box-shadow: none !important;
    background-color: #3051ab;
    border: 2px solid #3051ab !important;
    border-radius: 30px;
    transition: all 0.4s;
    color: #fff;
}

.btn-outline-custom {
    background-color: transparent;
    border: 2px solid #fff !important;
    border-radius: 30px;
    transition: all 0.4s;
    color: #fff;
}

.btn-outline-custom:hover,
.btn-outline-custom:focus,
.btn-outline-custom:active,
.btn-outline-custom.active,
.btn-outline-custom.focus,
.btn-outline-custom:active,
.btn-outline-custom:focus,
.btn-outline-custom:hover,
.open > .dropdown-toggle.btn-outline-custom {
    background-color: #fff !important;
    border: 2px solid #fff !important;
    box-shadow: none !important;
    border-radius: 30px;
    color: #000;
}


/*==========================
        3.HOME
============================*/

.privacy-policy-home-bg {
    background-image: url('/images/pines-on-mountain.jpg');
    background-position: center;
    height: 45vh !important;
    background-size: cover;
    position: relative;
    padding: 150px 0px 0px 0px;
}

.about-us-home-bg {
    background-image: url('/images/open-land.jpg');
    background-position: center;
    height: 40vh !important;
    background-size: cover;
    position: relative;
    padding: 150px 0px 0px 0px;
}

.clement-home-bg {
    background-image: url('/images/models/clement/clement-model-outdoor-2.jpg');
    background-position: center center;
    background-size: cover;
    position: relative;
    padding: 150px 0px 0px 0px;
}

.edna-home-bg {
    background-image: url('/images/models/edna/edna-model-outdoor.jpg');
    background-position: center center;
    background-size: cover;
    position: relative;
    padding: 150px 0px 0px 0px;
}

.haidas-home-bg {
    background-image: url('/images/models/haidas/haidas-model-outdoor.jpg');
    background-position: center center;
    background-size: cover;
    position: relative;
    padding: 150px 0px 0px 0px;
}

.omalley-home-bg {
    background-image: url('/images/models/omalley/omalley-model-outdoor.jpg');
    background-position: center center;
    height: 40vh !important;
    background-size: cover;
    position: relative;
    padding: 150px 0px 0px 0px;
}

.silver-home-bg {
    background-image: url('/images/models/silver/silver-model-interior.jpg');
    background-position: center center;
    height: 40vh !important;
    background-size: cover;
    position: relative;
    padding: 150px 0px 0px 0px;
}

.gardner-home-bg {
    background-image: url('/images/models/gardner/gardner-model-outdoor.jpg');
    background-position: center center;
    background-size: cover;
    position: relative;
    padding: 150px 0px 0px 0px;
}

.shimizu-home-bg {
    background-image: url('/images/models/shimizu/shimizu-model-outdoor.jpg');
    background-position: center center;
    height: 40vh !important;
    background-size: cover;
    position: relative;
    padding: 150px 0px 0px 0px;
}

.tavor-home-bg {
    background-image: url('/images/models/tavor/tavor-model-interior.jpg');
    background-position: center center;
    height: 40vh !important;
    background-size: cover;
    position: relative;
    padding: 150px 0px 0px 0px;
}

.hazel-home-bg {
    background-image: url('/images/models/hazel/hazel-model-interior.jpg');
    background-position: center center;
    background-size: cover;
    position: relative;
    padding: 150px 0px 0px 0px;
}

.vincenzo-home-bg {
    background-image: url('/images/models/vincenzo/vincenzo-model-outdoor.jpg');
    background-position: center center;
    height: 40vh !important;
    background-size: cover;
    position: relative;
    padding: 150px 0px 0px 0px;
}

.maui-home-bg {
    background-image: url('/images/models/maui/maui-model-outdoor.jpg');
    background-position: center center;
    height: 40vh !important;
    background-size: cover;
    position: relative;
    padding: 150px 0px 0px 0px;
}

.paloma-home-bg {
    background-image: url('/images/models/paloma/paloma-model-interior.jpg');
    background-position: center center;
    height: 40vh !important;
    background-size: cover;
    position: relative;
    padding: 150px 0px 0px 0px;
}

.home-table-center {
    display: table-cell;
    vertical-align: middle;
}

.home-table {
    display: table;
    width: 100%;
    height: 100%;
}

.home-title {
    font-size: 50px;
    font-weight: 100;
    line-height: 60px;
    text-transform: capitalize;
    color: #ffffff;
}

.home-title-1 {
    font-size: 50px;
    font-weight: 100;
    line-height: 40px;
    text-transform: capitalize;
    color: #ffffff;
}

.home-title-2 {
    font-size: 40px;
    font-weight: 100;
    line-height: 40px;
    text-transform: capitalize;
    color: #ffffff;
}

.home-subtitle {
    color: rgba(255, 255, 255, 0.7);
    font-size: 15px;
    max-width: 500px;
}

.video-play-icon i {
    font-size: 12px;
}


/*==========================
    3.HOME
============================*/

.home-section .carousel-item {
    height: 100vh;
    background-size: cover;
    background-position: center center;
}

.home-section-mobile .carousel-item {
    height: 100vh;
    background-size: 140%;
    background-position: top;
    background-repeat: no-repeat;
    background-color: #666666;
}

.home-section-1 .carousel-item-1 {
    height: 75vh;
    background-size: cover;
    background-position: center center;
}

.carousel-control-next,
.carousel-control-prev {
    width: 3%;
}

.home-center {
    display: table;
    width: 100%;
    height: 100%;
}

.home-desc-center {
    display: table-cell;
    vertical-align: bottom;
    padding-bottom: 120px;
}

/*.home-title {
    color: #fff;
    font-size: 68px;
    line-height: 100px;
    font-weight: 700;
}

.home-sub-title {
    color: #C2C2C3;
    font-weight: 500;
    max-width: 640px;
    line-height: 28px;
    font-size: 18px;
}

.watch-video a {
    margin-left: 7px;
}*/


/*==========================
        4.SERVICES
============================*/

.services-boxed {
    transition: all 0.5s;
}

.services-boxed:hover i {
    color: #3e6ae1;
    opacity: 0.5;
}

/*.services-boxed .services-icons i {
    font-size: 30px;
    border: 1px solid #777;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    display: inline-block;
    line-height: 80px;
    transition: all 0.5s;
}*/

.services-boxed .services-content h5 {
    font-size: 18px;
    font-weight: 600;
}

.services-boxed .services-content p {
    font-size: 15px;
}


/*==========================
        5.FEATURES
============================*/

.vertical-content {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    flex-direction: row;
    -webkit-flex-direction: row;
}

.features-box .features-icons {
    font-size: 40px;
}

.features-box .features-content h5 {
    font-size: 18px;
}

.features-box .features-content p {
    font-size: 14px;
}

.features-content-item {
    font-size: 15px;
}

.features_box .features_icons {
    font-size: 54px;
}

.features_box .features_content h5 {
    font-size: 20px;
}

.features_box .features_content p {
    max-width: 450px;
    line-height: 28px;
}


/*===========================
    6.VIDEO SECTION
=============================*/

.bg-video {
    background-image: url('/images/bg-video.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.video-play h1 {
    font-size: 55px;
    font-weight: 700;
}

.video-play-icon {
    border: 3px solid #3e6ae1;
    height: 46px;
    width: 46px;
    display: inline-block;
    line-height: 40px;
    transition: all 0.5s;
    border-radius: 50%;
    text-align: center;
}

.video-play-icon i {
    font-size: 24px;
}

.video-play-icon-mobile {
    border: 3px solid #3e6ae1;
    height: 45px;
    width: 45px;
    display: inline-block;
    /*line-height: 36px;*/
    transition: all 0.5s;
    border-radius: 50%;
    text-align: center;
}

.video-play-icon-mobile i {
    font-size: 26px;
}


/*============================
    7.SCREENSHOT
==============================*/

.image-gallery {
    overflow: hidden;
}

.image-gallery #slider .owl-wrapper-outer {
    overflow: hidden;
}

.image-gallery #slider .item {
    margin: 20px;
}

.mfp-arrow {
    background: none !important;
}


/*============================
    8.TESTIMONIAL
==============================*/

.testi-content h5 {
    font-size: 14px;
    font-weight: 700;
}

.testi-content p {
    font-size: 15px;
}


/*============================
    9.PRICING
==============================*/

.lable {
    background-color: #3e6ae1 !important;
}

.price .active {
    position: relative;
    overflow: hidden;
}

.price .active .lable {
    padding: 10px 0;
    text-align: center;
    width: 200px;
    position: absolute;
    top: 22px;
    right: -60px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.price .active .lable h6 {
    color: #fff;
    font-size: 11px;
}

.best {
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 1px;
    color: #515a5f;
}

.plan {
    box-shadow: 0 0px 20px -4px rgba(153, 153, 153, 0.35);
    border-radius: 5px;
}
.plan-features {
    font-size: 14px;
}

.plan-price h3 {
    font-size: 40px;
    font-weight: 600;
}

.plan-price h3 span {
    font-size: 26px;
}

.plan-name h5 {
    font-size: 24px;
    font-weight: 600;
}


/*----*/

.plan .plan-title {
    font-size: 18px;
}

.plan .plan-price {
    font-size: 36px;
    font-weight: 700;
}

.plan .pricing-features p {
    font-size: 14px;
}

/*============================
    10.ABOUT
==============================*/

.about-border {
    border: 10px solid #eaeaea;
}

.about-title-border {
    height: 3px;
    width: 60px;
}

.about-text p {
    line-height: 26px;
}

.about-boxed {
    transition: all 0.5s;
}

.about-boxed .about-icons i {
    font-size: 30px;
    border: 5px solid #ffffff;
    height: 90px;
    box-shadow: 3px 3px 3px 3px #f5f5f5;
    background-color: #f5f5f5;
    width: 90px;
    border-radius: 50%;
    display: inline-block;
    line-height: 80px;
    transition: all 0.5s;
}

.about-boxed .about-content h5 {
    font-size: 18px;
    font-weight: 700;
}

.about-boxed .about-content p {
    font-size: 15px;
}


/*============================
    11.DOWNLOAD
==============================*/

.bg-download {
    background-image: url('/images/img-3.jpg');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}


/*============================
    12.CONTACT US
==============================*/

.form-custom .form-control {
    background: #f3f3f3;
    border: none;
    height: 45px;
}

.form-custom textarea.form-control {
    height: auto;
}

.form-custom label {
    font-size: 14px;
    color: #777;
}

.contact-detail {
    font-size: 15px;
    max-width: 450px;
}


/*---*/

.forms-custom .form-control {
    border: 1px solid #dadada;
    height: 45px;
    font-size: 15px;
}

.forms-custom textarea.form-control {
    height: auto;
}

.forms-custom label {
    font-size: 14px;
    color: #777;
}

/*============================
       13. FOOTER
==============================*/

.footer-title {
    font-size: 13px;
    font-weight: 700;
}

.footer-list li a {
    font-size: 13px;
    color: #909090;
    padding-top: 7px;
    display: inline-block;
    transition: all 0.5s;
}

.footer-list li a:hover {
    color: #000;
}

.copyright-alt {
    opacity: 0.5;
    color: #000 !important;
    font-size: 12px;
}

.conclusion {
    opacity: 0.7;
    color: #000 !important;
    font-size: 13px;
}

.social-icon li a {
    color: #a2a2a2;
    transition: all 0.5s;
}

.social-icon li a:hover {
    color: #666;
}


/*=======================
    14.Responsive
=========================*/
@media (min-width: 200px) and (max-width: 767px) {
    .vertical-content {
        display: inherit;
    }
    .home-title {
        font-size: 32px;
        line-height: 48px;
    }
    .text-left-sm {
        text-align: left !important;
    }
    .home-bg {
        padding: 110px 0px 0px 0px;
    }
}

.text-uppercase {
    text-transform: uppercase !important;
}

/*============================
    15.FUNFACTS
==============================*/

.funfact-border {
    background-color: #fff;
    height: 2px;
    width: 50px;
}

/*===============================
      16.WORK
=================================*/

.portfolio {
    overflow: hidden
}

.filter-list li a {
    padding: 6px 12px;
    cursor: pointer;
    display: block;
    border: 1px solid transparent;
    border-radius: 3px;
}

.filter-list a {
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    transition: all 0.5s;
}

.item-img {
    position: relative;
    margin-bottom: 30px;
}

.item-img:hover .item-img-overlay span {
    opacity: 2;
}

.item-img-overlay span i{
    font-size: 35px;
    color: #fff !important;
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 10;
    right: 0;
}

.item-img:hover .item-img-overlay:before {
    border: 2px solid #fff;
    content: "";
    position: absolute;
    bottom: 30px;
    left: 30px;
    right: 30px;
    top: 30px;
    z-index: 1;
}

.item-img-overlay span {
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0px;
    opacity: 0;
    transition: opacity 250ms linear;
}

/* Container holding the image and the text */
.image-container {
  position: relative;
  text-align: left;
  color: #fff;
  font-weight: 900;
  font-size: 1.75em;
  line-height: 0.85em;
  font-family: Lato;
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  top: 230px;
  left: 50px;
}

/* Bottom left text */
.bottom-left-top-layer {
  position: absolute;
  top: 228px;
  left: 49px;
  color: #000;
}

.center-video-button {
    position: absolute;
    top: 27%;
    left: 41%;
    display: inline-block;
    color: #000 !important;
}

/* Background */
.font-background-layer {
    background-color: #000;
    opacity: 0.75;
    width: 10em;
    height: 2em;
    position: absolute;
    top: 214px;
    left: 18px;

    background: -moz-linear-gradient(left, rgba(0,0,0,1), rgba(0,0,0, 0));
    background: -webkit-linear-gradient(left, rgba(0,0,0,1), rgba(0,0,0, 0));

}

/* Material Design Icons Sizing */

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/*==========================
        4.ABOUT US
============================*/

.about-title {
    font-size: 36px;
    line-height: 48px;
}

.about-subtitle {
    font-size: 16px;
    line-height: 26px;
}

.about-flow-menu a {
    display: inline-block;
    max-width: 145px;
    position: relative;
}

.navs-custom .nav-tabs,
.navs-custom .nav-tabs .nav-link {
    border: none !important;
    background: none;
}

/*==========================
        6.FEATURES
============================*/

.vertical-content {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    flex-direction: row;
    -webkit-flex-direction: row;
}

.features-box .features-icons {
    font-size: 40px;
}

.features-box .features-content h5 {
    font-size: 18px;
}

.features-box .features-content p {
    font-size: 14px;
}

.features-content-item {
    font-size: 15px;
}

.watch-desc {
    max-width: 450px;
    line-height: 28px;
    font-size: 15px;
}


/*============================
        7.TESTIMONIAL
==============================*/

.testi-content h5 {
    font-size: 14px;
    font-weight: 700;
}

.testi-content p {
    font-size: 15px;
}

/*==========================
        5.SERVICES
============================*/

.services-boxed {
    transition: all 0.5s;
}

.service-boc-shadow {
    box-shadow: 0 0px 20px -4px rgba(153, 153, 153, 0.35);
}

.services-boxed .services-icons i {
    font-size: 40px;
    transition: all 0.5s;
}

.services-boxed .services-content h5 {
    font-size: 18px;
    font-weight: 600;
}

.services-boxed .services-content p {
    font-size: 15px;
}

.service-box {
    border: 1px dotted #dddddd;
    border-radius: 3px;
    position: relative;
}

.service-left {
    float: left;
}

.service-box .service-icon {
    margin-top: 15px;
    font-size: 34px;
    position: absolute;
    top: 25%;
    transform: translateY(-50%);
}

.service-box .service-desc {
    margin-left: 20%;
}

.service-box .service-desc h4 {
    font-size: 18px;
    font-weight: 600;
}

.service-box .service-desc p {
    font-size: 14px;
}

.dropdown .dropdown-menu {
  -webkit-box-shadow: 0 10px 25px rgba(60, 72, 88, 0.15);
          box-shadow: 0 10px 25px rgba(60, 72, 88, 0.15);
  top: 100%;
  z-index: 1000;
  padding: 16px 0;
  list-style: none;
  min-width: 180px;
  font-weight: 500;
  border: none;
  opacity: 1;
  margin-top: 0px;
  background-color: #ffffff;
}

.dropdown .dropdown-item {
  padding: 10px 10px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  display: block;
  clear: both;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  font-weight: 700;
  color: #343a40;
}

.dropdown .dropdown-item:hover, .navbar-custom .navigation .dropdown .dropdown-item:focus {
  background-color: transparent;
  color: #007bff;
}

.navbar-mobile {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    /* align-items: center; */
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

