<!-- ***** All jQuery Plugins ***** -->
<%= javascript_include_tag :site %>

<!-- Start of HubSpot Embed Code -->
  <!-- <script type="text/javascript" id="hs-script-loader" async defer src="//js-na1.hs-scripts.com/5944369.js"></script> -->
<!-- End of HubSpot Embed Code -->

<!-- Start of shemsshomes Zendesk Widget script -->
<!-- <script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=88f2a502-831f-44e7-833b-e8435d98ee25"> </script> -->
<!-- End of shemsshomes Zendesk Widget script -->

