<footer class="section footer">
    <section class="section bg-light" id="service">
        <div class="container">
            <!-- <div class="row justify-content-center">
                <div class="col-md-8 text-center">
                    <h3>Help Desk</h3>
                    <p class="text-muted pt-4">Have questions how to proceed your order or need more details about our products? No worries, we've got you covered.</p>
                </div>
            </div> -->
            <div class="row">
                <div class="col-lg-3 pt-5">
                    <h5>Connect with a specialist</h5>
                </div>
                <!-- Start of shemsshomes Zendesk Widget script -->
                <script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=88f2a502-831f-44e7-833b-e8435d98ee25"> </script>
                <!-- End of shemsshomes Zendesk Widget script -->
                <div class="col-lg-3 p-3" id='myLauncher' onclick='openWidget()'>
                    <!-- <div class="service-icon service-left text-custom" id='myLauncher' onclick='openWidget()'><a href="https://static.zdassets.com/web_widget/latest/liveChat.html?v=10#key=subdomain.zendesk.com" data-toggle="modal" data-target="#myModal"><i class="mbri-chat"></i></a></div> -->
                    <div class="service-box clearfix p-3" style="cursor: pointer;">
                        <div class="service-icon service-left text-custom"><i class="mbri-chat"></i></div>

                            <script type="text/javascript">
                            zE('webWidget', 'hide');

                            function openWidget() {
                              zE('webWidget', 'show');
                              zE('webWidget', 'open');
                              document.querySelector('#myLauncher').style.opacity = 0;
                            };

                            zE('webWidget:on', 'close', function() {
                              zE('webWidget', 'hide');
                              document.querySelector('#myLauncher').style.opacity = 1;
                            })
                            </script>
                        <div class="service-desc service-left">
                            <h4>Chat</h4>
                            <p class="text-muted mb-0">Drop us a line</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 p-3">
                    <div class="service-box clearfix p-3">
                        <div class="service-icon service-left text-custom"><i class="mbri-mobile"></i></div>
                        <div class="service-desc service-left">
                            <h4>Call (PT)</h4>
                            <p class="text-muted mb-0"><a href="tel:8889605263" style="color: #3e6ae1; font-weight:400;">888-960-5263</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 p-3">
                    <div class="service-box clearfix p-3">
                        <div class="service-icon service-left text-custom"><i class="mbri-letter"></i></div>
                        <div class="service-desc service-left">
                            <h4>Email</h4>
                            <p class="text-muted mb-0">info@shemsshomes.com</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6">
                <h6 class="footer-title">Selling designer home plans online.</h6>
                <div class="conclusion">
                <p>
                    We offer 3 packages at a fixed contract &mdash; Elite,
                    Premium, and Classic. Simply choose from one of our three
                    packages and consolidate every step into one delivery.
                    <span class="text-muted">SHEMSS Homes, Inc. Designer homes
                    solution, Architectural plans, and Building material
                    delivery company.</span>
                </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 pt-4">
                <ul class="social-icon list-unstyled list-inline mb-0">
                    <li class="list-inline-item">
                        <span class="text-uppercase copyright-alt">Shemss &copy; 2022</span>&nbsp;
                    </li>
                    <li class="list-inline-item">
                        <a class="copyright-alt" href="/about-us">About Us</a>&nbsp;
                    </li>
                    <li class="list-inline-item">
                        <a class="copyright-alt" href="/privacy-policy">Privacy and Legal</a>&nbsp;
                    </li>
                    <li class="list-inline-item">
                        <span class="copyright-alt">Contact: <a href="tel:8889605263" style="color: #666666;">888-960-5263</a>&nbsp;info@shemsshomes.com</span>&nbsp;
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.google.com/search?q=SHEMSS%20HOMES&oq&aqs=chrome.0.69i59i450.91340656j0j15&sourceid=chrome&ie=UTF-8&ludocid=12048660941981901938&lsig=AB86z5XKC8CkFethduBk28fbYNNb&ved=2ahUKEwjkr6fU06X2AhWgIkQIHTCUB0cQrMcEegQIAxAC"><i class="mdi mdi-google icon icon--xs"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.youtube.com/channel/UCfX6sI2PyIm2G-cNfsjz-_A"><i class="mdi mdi-youtube-play icon icon--xs"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.facebook.com/SHEMSS-Homes-109953868209833/"><i class="mdi mdi-facebook icon icon--xs"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.instagram.com/shemss.homes/"><i class="mdi mdi-instagram icon icon--xs"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<!-- Modal-1 -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <hr>
        <h4 class="modal-title" id="myModalLabel" style="color:#436447; font-size: 1.3em; font-weight: 300;">Request your Model Home free quote</h4>&nbsp;&nbsp;&nbsp;&nbsp;<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body" style="margin: 15px; padding-top: 5px;">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>