<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Selling Designer Home Plans Online">
<meta name="description" content="" />
<meta name="keywords" content="" />
<meta name="author" content="SHEMSS HOMES"/>

<!-- Domain Name FB Verification -->
<meta name="facebook-domain-verification" content="vn3e43r090pbnbqv6jnt6vs7ehkyk5" />

<link rel="shortcut icon" href="images/favicon.ico">

<title>Selling Designer Home Plans Online</title>
<link rel="shortcut icon" type="image/jpg" href="/images/favicon.ico"/>

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://use.typekit.net/jaf6nii.css">

<link href="https://unpkg.com/cloudinary-video-player@1.5.4/dist/cld-video-player.min.css" rel="stylesheet">
<script src="https://unpkg.com/cloudinary-core@latest/cloudinary-core-shrinkwrap.min.js" type="text/javascript"></script>
<script src="https://unpkg.com/cloudinary-video-player@1.5.4/dist/cld-video-player.min.js" type="text/javascript"></script>

<!-- Main site CSS in /source/stylesheets
<percent-sign= stylesheet_link_tag :site %>
-->
<%= stylesheet_link_tag "bootstrap.min.css" %>
<%= stylesheet_link_tag "materialdesignicons.min.css" %>
<%= stylesheet_link_tag "mobiriseicons.css" %>
<%= stylesheet_link_tag "magnific-popup.css" %>
<%= stylesheet_link_tag "owl.carousel.css" %>
<%= stylesheet_link_tag "owl.theme.css" %>
<%= stylesheet_link_tag "owl.transitions.css" %>
<%= stylesheet_link_tag "owl-carousel-nav.css" %>
<%= stylesheet_link_tag "menu.css" %>
<%= stylesheet_link_tag "style.css" %>
<%= stylesheet_link_tag "fedeinout.css" %>
<%= stylesheet_link_tag "radio.css" %>
<%= stylesheet_link_tag "configurator.css" %>

<!-- Flex Container for the main page slider -->
<link href="/stylesheets/flex.css" rel="stylesheet">

<%= partial 'layouts/icons' %>

<!-- Global site tag (gtag.js) - Google Ads: 737071043 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-737071043"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-737071043');
</script>

<!-- Event snippet for Website traffic conversion page -->
<script>
  gtag('event', 'conversion', {'send_to': 'AW-737071043/Ty3eCMabn5UDEMOfu98C'});
</script>

<!-- Start of HubSpot Embed Code -->
  <!-- <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/5944369.js"></script> -->
<!-- End of HubSpot Embed Code -->

<!-- Facebook Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '374101976795251');
  fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=374101976795251&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->

<!-- Hotjar Tracking Code for https://www.shemsshomes.com -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:2823622,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>

