<!-- Loader -->
<div id="preloader"><div id="status"><div class="spinner">Loading...</div></div></div>

<!-- Navigation Bar-->
<header id="topnav" class="defaultscroll fixed-top sticky">
    <!-- <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <strong>Holy guacamole!</strong> FREE SHIPPING on everything for whole year of 2022.
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div> -->

    <!-- Invisible on XS -->
    <div class="d-none d-lg-block">
        <div class="parent-main-nav">
        <!-- Logo container-->
        <div class="child-main-nav-logo">
            <a href="/" class="logo text-uppercase">
                <!-- <img id="myImageID" src="/images/logo.png" class="d-inline-block align-top" style="width: 104px; margin-top: 26px;" alt="Shemss Designer Homes Floor Plans"> -->
                <a href="/"><img id="myImageID" src="/images/logo.svg" onerror="this.onerror=null; this.src='/images/logo.png'" class="d-inline-block align-top" style="width: 114px; margin-top: 0px;" alt="SHEMSS Home Plans &amp; Design Packages"></a>
            </a>
        </div>
        <!-- End Logo container-->
        <div class="child-main-nav-center-menu">
            <ul class="navigation-menu" style="text-align: center; list-style: none;">
                <li class="dropdown" style="cursor: pointer;">
                  <a class="dropdown-toggle" style="color: #ffffff;" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Modern
                  </a>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="/models/silver/silver-floor-plan">Silver</a>
                    <a class="dropdown-item" href="/models/shimizu/shimizu-floor-plan">Shimizu</a>
                    <a class="dropdown-item" href="/models/tavor/tavor-floor-plan">Tavor</a>
                    <a class="dropdown-item" href="/models/paloma/paloma-floor-plan">Paloma</a>
                    <a class="dropdown-item" href="/models/omalley/omalley-floor-plan">O'Malley</a>
                    <a class="dropdown-item" href="/models/vincenzo/vincenzo-2-0-floor-plan">Vincenzo</a>
                  </div>
                </li>
                <li class="dropdown" style="cursor: pointer;">
                  <a class="dropdown-toggle" style="color: #ffffff;" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Classic
                  </a>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="/models/gardner/gardner-4-0-floor-plan">Gardner</a>
                    <a class="dropdown-item" href="/models/hazel/hazel-9-0-floor-plan">Hazel</a>
                    <a class="dropdown-item" href="/models/maui/maui-3-0-floor-plan">Maui</a>
                  </div>
                </li>
                <li class="">
                    <a href="#" style="color: #ffffff;">Tiny Homes</a>
                </li>
                <li class="">
                    <a href="#" style="color: #ffffff;">Multi-Family</a>
                </li>
                <!-- <li class="">
                    <a href="paloma-floor-plan.html" style="color: #ffffff;">Paloma</a>
                </li>
                <li class="">
                    <a href="omalley-floor-plan.html" style="color: #ffffff;">O'Malley</a>
                </li> -->
            </ul>
        </div>
        <!-- <div class="child-main-nav-right-menu"></div> -->
        <div class="child-main-nav-right-menu">
            <ul class="navigation-menu" style="text-align: center; list-style: none;">
                <li class="">
                    <a href="tel:8889605263" style="color: #ffffff;"><i class="mdi mdi-phone icon icon--xs"></i> 888-960-5263</a>
                </li>
            </ul>
        </div>
    </div>
    </div>

<!-- Visible menu part only on XS -->
    <div class="d-block d-lg-none">
        <!-- End Logo container-->
        <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
            <a href="/" class="logo">
            <!-- <img src="/images/logo-small.png" class="d-inline-block align-top" style="width: 49px; margin-top: 5px; margin-left: 10px;" alt="Shemss Model Homes"> -->
            <img src="/images/small-logo.svg" style="width: 50px;" onerror="this.onerror=null; this.src='/images/small-logo.png'" alt="SHEMSS Home Plans &amp; Design Packages">
        </a>
        <div class="phone-number">
            <a href="tel:8889605263"><i class="mdi mdi-phone icon icon--xs"></i> 888-960-5263</a>
        </div>
          <!-- <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button> -->
          <div class="menu-extras navbar navbar-toggleable-md navbar-light bg-faded" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <div class="menu-item">
                <!-- Mobile menu toggle-->
                <a class="navbar-toggle">
                    <div class="lines">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </a>
                <!-- End mobile menu toggle-->
            </div>
          </div>
          <!-- <a class="navbar-brand" href="#">Navbar</a> -->
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Modern
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" href="/models/silver/silver-floor-plan">Silver</a></li>
                  <li><a class="dropdown-item" href="/models/shimizu/shimizu-floor-plan">Shimizu</a></li>
                  <li><a class="dropdown-item" href="/models/tavor/tavor-floor-plan">Tavor</a></li>
                  <li><a class="dropdown-item" href="/models/paloma/paloma-floor-plan">Paloma</a></li>
                  <li><a class="dropdown-item" href="/models/omalley/omalley-floor-plan">O'Malley</a></li>
                  <li><a class="dropdown-item" href="/models/vincenzo/vincenzo-2-0-floor-plan">Vincenzo</a></li>
                  <!-- <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" data-toggle="dropdown" href="#">Something else here</a>
                    <ul class="dropdown-menu">
                      <a class="dropdown-item" href="#">A</a>
                      <a class="dropdown-item" href="#">b</a>
                    </ul>
                  </li> -->
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Classic
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" href="/models/gardner/gardner-4-0-floor-plan">Gardner</a></li>
                  <li><a class="dropdown-item" href="/models/hazel/hazel-9-0-floor-plan">Hazel</a></li>
                  <li><a class="dropdown-item" href="/models/maui/maui-3-0-floor-plan">Maui</a></li>

                  <!-- <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" data-toggle="dropdown" href="#">Something else here</a>
                    <ul class="dropdown-menu">
                      <a class="dropdown-item" href="#">A</a>
                      <a class="dropdown-item" href="#">b</a>
                    </ul>
                  </li> -->
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Tiny Homes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Multi-Family</a>
              </li>
            </ul>
          </div>
        </nav>
    </div>
</header>
