<!doctype html>
<html>
  <head><%= partial 'layouts/head' %></head>
  <body>
    <%= partial 'layouts/header' %>
    <%= yield %>
    <%= partial 'layouts/footer' %>
    <%= partial 'layouts/foot' %>
  </body>
</html>
