---
layout: layout
---

<div class="configurator-root">
<!--====== Silver Model Configurator Screen ======-->
<section class="home-section" id="home">
    <div class="silver-7-0-kings-canyon-rh" data-model="silver-7-0">
        <div class="bg-overlay"></div>
        <div class="parent">
            <div class="child-1">
                <!-- Visible on md and lg -->
                <p class="home-title-1 d-none d-sm-block">Model Silver 7.0</p>
                <!-- Visible only on xs -->
                <p class="home-title-2 d-block d-sm-none">Model Silver 7.0</p>
                    <ul class="list-inline text-uppercase pt-2" style="line-height: 1.0em; color: #ffffff;">
                        <li class="list-inline-item" style="margin-right: 1.0em;">
                            <small><b style="font-size: 1.75em;">3</b><br>bed</small>
                        </li>
                        <li class="list-inline-item" style="margin-right: 1.0em;">
                            <small><b style="font-size: 1.75em;">2</b><br>bath</small>
                        </li>
                        <li class="list-inline-item" style="margin-right: 1.0em;">
                            <small><b style="font-size: 1.75em;">1270</b><br>sq. feet</small>
                        </li>
                        <!-- <li class="list-inline-item">
                            <small class="d-none d-sm-block"><b style="font-size: 1.75em;">$9,800</b><br>Started at</small>
                        </li> -->
                    </ul>
                    <!-- <p class="list-inline-item pt-2 d-block d-sm-none" style="color:  #ffffff; opacity: 0.8;">
                        <small>Started at <b>$9,800</b></small>
                    </p> -->
            </div>
            <div class="child-4"></div>
        </div>
    </div>
</section>
<!--====== End of Silver Model Configurator Screen ======-->

<!--====== Silver Model Configurator Control Bar ======-->
<section class="section bg-light">
    <div class="container">
    <div class="parent-model-configurator">
        <div class="hiddenradio" style="border-radius: 50%">
            <!-- Visible on md and lg -->
            <h5 class="text-center d-none d-sm-block">Model</h5>
            <!-- Visible only on xs -->
            <h6 class="text-center d-block d-sm-none">Model</h6>
            <label>
              <input type="radio" name="model" value="model-7-0" checked>
              <img class="rounded-circle" src="/images/models/silver/configurator/model-7-0.png">
            </label>

            <!-- <label>
              <input type="radio" name="model" value="model-7-1">
              <img class="rounded-circle d-none d-sm-block" width="34px" src="/images/models/silver/configurator/model-7-1.png">
            </label>

            <label>
              <input type="radio" name="model" value="model-7-2">
              <img class="rounded-circle d-none d-sm-block" width="34px" src="/images/models/silver/configurator/model-7-2.png">
            </label> -->
        </div>

        <div class="hiddenradio">
            <!-- Visible on md and lg -->
            <h5 class="text-center d-none d-sm-block">Exterior</h5>
            <!-- Visible only on xs -->
            <h6 class="text-center d-block d-sm-none">Exterior</h6>
            <label>
              <input type="radio" class="config-btn" data-side="exterior" name="exterior" value="kings-canyon" checked>
              <img class="rounded-circle" src="/images/models/silver/configurator/7-0-kings-canyon.jpg">
            </label>

            <label>
              <input type="radio" class="config-btn" data-side="exterior" name="exterior" value="crossroads">
              <img class="rounded-circle" src="/images/models/silver/configurator/7-0-crossroads.jpg">
            </label>

            <label>
              <input type="radio" class="config-btn" data-side="exterior" name="exterior" value="ash-tree">
              <img class="rounded-circle" src="/images/models/silver/configurator/7-0-ash-tree.jpg">
            </label>
        </div>

        <div class="hiddenradio">
            <!-- Visible on md and lg -->
            <h5 class="text-center d-none d-sm-block">Layout</h5>
            <!-- Visible only on xs -->
            <h6 class="text-center d-block d-sm-none">Layout</h6>
            <label>
              <input type="radio" class="config-btn" data-side="exterior" name="layout" value="rh" checked>
              <img class="rounded-circle" src="/images/models/silver/configurator/rh.png">
            </label>

            <label>
              <input type="radio" class="config-btn" data-side="exterior" name="layout" value="lh">
              <img class="rounded-circle" src="/images/models/silver/configurator/lh.png">
            </label>
        </div>

        <div class="hiddenradio">
            <!-- Visible on md and lg -->
            <h5 class="text-center d-none d-sm-block">Interior</h5>
            <!-- Visible only on xs -->
            <h6 class="text-center d-block d-sm-none">Interior</h6>
            <label>
              <input type="radio" class="config-btn" data-side="interior" name="interior" value="int-dark" checked>
              <img class="rounded-circle" src="/images/models/silver/configurator/int-dark.jpg">
            </label>

            <label>
              <input type="radio" class="config-btn" data-side="interior" name="interior" value="int-light">
              <img class="rounded-circle" src="/images/models/silver/configurator/int-light.jpg">
            </label>
        </div>

        <div class="hiddenradio">
            <!-- Visible on md and lg -->
            <h5 class="text-center d-none d-sm-block">Play</h5>
            <!-- Visible only on xs -->
            <h6 class="text-center d-block d-sm-none">Play</h6>
            <!-- Visible on md and lg -->
            <div class="text-center mt-3 d-none d-sm-block">
                <a href="https://res.cloudinary.com/shemss-designer-homes/video/upload/v1628268487/Small_Modern_Home___Scandinavian_Design___Lake_Tahoe___By_SHEMSS_tg7orh.mp4" class="mx-auto video-play-icon" style="color: #3e6ae1;" id="video-play-icon"><i class="mdi mdi-play"></i></a>
            </div>
            <!-- Visible only on xs -->
            <div class="text-center mt-3 d-block d-sm-none">
                <a href="https://res.cloudinary.com/shemss-designer-homes/video/upload/v1628268487/Small_Modern_Home___Scandinavian_Design___Lake_Tahoe___By_SHEMSS_tg7orh.mp4" class="mx-auto video-play-icon-mobile" style="color: #3e6ae1;" id="video-play-icon"><i class="mdi mdi-play"></i></a>
            </div>
        </div>
    </div>
    </div>
</section>
<!--====== End of Silver Model Configurator Control Bar ======-->
</div>

<!--====== Silver Model Description ======-->
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <!-- Visible on md and lg -->
                <h1 class="text-center mt-5 d-none d-sm-block">Plan Description</h1>
                <!-- Visible only on xs -->
                <h1 class="text-center d-block d-sm-none">Plan Description</h1>
                <h4 class="text-center pt-3">
                    <strong>40x39 Building Area</strong>
                </h4>
                <p class="text-muted p-3 mt-3">
                    Our Silver 7.0 model has been designed with the finest of
                    architecture at its core with vaulted ceilings and full
                    window walls that invite the surrounding nature into its
                    open concept living space. You’ll be inspired by a kitchen
                    that features European cabinetry and hidden kitchen
                    appliances. The perfect home awaits, where you’ll feel the
                    soothing benefits of nature from the decks outdoors to the
                    expansive indoor views.
                </p>
            </div>
            <div class="col-md-6">
                <img src="/images/models/silver/configurator/7-0-plan-rh.png" alt="" class="img-fluid mx-auto d-block">
            </div>
        </div>
        <div class="text-center">
            <a href="https://my.matterport.com/show/?m=dwx1SWz4w8w" class="btn btn-outline-dark btn-rounded">Explore 3D Space</a>
        </div>
    </div>
</section>
<!--====== End of Silver Model Description ======-->

<!--====== Price ======-->
<section class="section price bg-light" id="pricing">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center">
                <h3>Order Here &amp; Build Anywhere</h3>
                <p class="text-muted pt-4">
                    Designer homes solution, architectural plans, and
                    building material delivery company.
                </p>
            </div>
        </div>
        <div class="row pt-2 mt-3">
            <div class="col-lg-4">
                <h3 class="text-center p-3 mt-3" style="font-weight:900">Elite</h3>
                <div class="bg-white mt-3 text-center active p-5">
                    <!-- <div class="lable">
                        <h6 class="best mb-0">Free Shipping</h6>
                    </div> -->
                    <div class="plan-name">
                        <h6 class="mb-4" style="font-weight: 600 !important;">Home Plan, Design, & Materials</h6>
                    </div>


                    <div class="tabs-container">

                        <!-- Tabs Links -->
                        <ul class="nav nav-tabs pt-5" id="junoTabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="nav-tab-1" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="true">Lump Sum</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="nav-tab-2" data-toggle="tab" href="#tab-2" role="tab" aria-controls="tab-2" aria-selected="false">Installments</a>
                            </li>
                        </ul>
                        <!-- end of tabs links -->

                        <!-- Tabs Content -->
                        <div class="tab-content pt-3" id="junoTabsContent">

                            <!-- Tab -->
                            <div class="tab-pane fade active show" id="tab-1" role="tabpanel" aria-labelledby="tab-1">
                                <div class="plan-price">
                                    <h3 class="pt-2"><span>$</span>53,675</h3>
                                </div>
                                <div class="plan-features pt-4">
                                    <p>Floorplan &amp; Design Drawings</p>
                                    <p>PDF | CAD</p>
                                    <p>Structural Material List</p>
                                    <p>Exterior &amp; Interior Design Package</p>
                                    <p>Hardcopy Book of the Model</p>
                                    <p>Blueprint Copy</p>
                                    <p>Finish Materials</p>
                                    <p>Delivered to Site</p>
                                </div>
                                <div class="order pt-4">
                                    <a href="/docs/silver-7-0-elite.pdf" class="btn btn-outline-dark btn-rounded w-75">Package Specs</a>
                                    <p class="pt-3">
                                        <!-- <a href="https://na4.docusign.net/Member/PowerFormSigning.aspx?PowerFormId=6f1d9e07-4346-4250-aed8-e7a0543ed72c&env=na4&acct=65a7e636-807c-4ffa-aa59-4bf5ccf71f6f&v=2" class="btn btn-custom btn-rounded w-75">Order Now</a> -->
                                        <!-- <a href="models/silver/silver-7-0-elite-wholesale-agreement" class="btn btn-custom btn-rounded w-75">Order Now</a> -->
                                        <button type="button" class="btn btn-custom btn-rounded w-75" data-toggle="modal" data-target=".bd-example-modal-lg">Order Now</button>
                                    </p>
                                </div>
                            </div>

                            <!-- Tab -->
                            <div class="tab-pane fade" id="tab-2" role="tabpanel" aria-labelledby="tab-2">
                                <div class="plan-price">
                                    <h3 class="pt-2"><span>$</span>53,675</h3>
                                </div>
                                <div class="plan-features pt-4">
                                    <p>Floorplan &amp; Design Drawings</p>
                                    <p>PDF | CAD</p>
                                    <p>Structural Material List</p>
                                    <p>Exterior &amp; Interior Design Package</p>
                                    <p>Hardcopy Book of the Model</p>
                                    <p>Blueprint Copy</p>
                                    <p>Finish Materials</p>
                                    <p>Delivered to Site</p>
                                </div>
                                <div class="order pt-4">
                                    <a href="/docs/silver-7-0-elite.pdf" class="btn btn-outline-dark btn-rounded w-75">Package Specs</a>
                                    <p class="pt-3">
                                        <a href="tel:8889605263" class="btn btn-custom btn-rounded w-75"><i class="mdi mdi-phone icon icon--xs"></i> Call Now</a></a>
                                    </p>
                                </div>

                            </div> <!-- end of tab-pane -->
                            <!-- end of tab -->
                    </div>

        </div>
                </div>
            </div>

            <div class="col-lg-4">
                <h3 class="text-center p-3 mt-3" style="font-weight:900">Premium</h3>
                <div class="bg-white mt-3 active text-center p-5">
                    <div class="plan-name">
                        <h6 class="mb-4" style="font-weight: 600 !important;">Home Plan &amp; Design</h6>
                    </div>
                    <div class="plan-price">
                        <h3 class="pt-2"><span>$</span>21,200</h3>
                    </div>
                    <div class="plan-features pt-4">
                        <p>Floorplan &amp; Design Drawings</p>
                        <p>PDF | CAD</p>
                        <p>Structural Material List</p>
                        <p>Exterior &amp; Interior Design Package</p>
                        <p>Hard Copy Book of the Model</p>
                        <p>Blueprint Copy</p>
                    </div>
                    <div class="order pt-4">
                        <a href="/docs/silver-7-0-premium.pdf" class="btn btn-outline-dark btn-rounded w-75">Package Specs</a>
                        <p class="pt-3">
                            <!-- <a href="https://na4.docusign.net/Member/PowerFormSigning.aspx?PowerFormId=da0b1b07-db19-49da-b672-3136de28155d&env=na4&acct=65a7e636-807c-4ffa-aa59-4bf5ccf71f6f&v=2" class="btn btn-custom btn-rounded w-75">Order Now</a> -->
                            <a href="/models/silver/silver-7-0-premium-agreement" class="btn btn-custom btn-rounded w-75">Order Now</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <h3 class="text-center p-3 mt-3" style="font-weight:900">Classic</h3>
                <div class="bg-white mt-3 text-center p-5">
                    <div class="plan-name">
                        <h6 class="mb-4" style="font-weight: 600 !important;">Home Plan</h6>
                    </div>
                    <div class="plan-price">
                        <h3 class="pt-2"><span>$</span>9,800</h3>
                    </div>
                    <div class="plan-features pt-4">
                        <p>Floorplan &amp; Design Drawings</p>
                        <p>PDF | CAD</p>
                        <p>Structural Material List</p>
                    </div>
                    <div class="order pt-4">
                        <a href="/docs/silver-7-0-classic.pdf" class="btn btn-outline-dark btn-rounded w-75">Package Specs</a>
                        <p class="pt-3">
                            <!-- <a href="https://na4.docusign.net/Member/PowerFormSigning.aspx?PowerFormId=c08e5828-4e85-4251-964f-60a500000f5a&env=na4&acct=65a7e636-807c-4ffa-aa59-4bf5ccf71f6f&v=2" class="btn btn-custom btn-rounded w-75">Order Now</a> -->
                            <a href="/models/silver/silver-7-0-classic-agreement" class="btn btn-custom btn-rounded w-75">Order Now</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--====== End Price ======-->

<!-- Visible on md and lg -->
<section class="image-gallery section d-none d-sm-block" id="client">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center">
                <h3>HOME IS ART&trade;</h3>
                <p class="text-muted pt-4">
                    Model Silver 7.0 New Residential Architecture SHEMSS
                    Designer Homes
                </p>
            </div>
        </div>
        <div class="row mt-4 pt-4">
            <div id="screenshot">
                <div class="item m-3">
                    <a href="/images/models/silver/gallery/picture-1.jpg" class="mfp-image">
                        <img src="/images/models/silver/gallery/picture-1.jpg" alt="" class="img-fluid">
                    </a>
                </div>
                <!-- <div class="item m-3">
                    <a href="/images/models/silver/gallery/picture-2.jpg" class="mfp-image">
                        <img src="/images/models/silver/gallery/picture-2.jpg" alt="" class="img-fluid">
                    </a>
                </div> -->
                <div class="item m-3">
                    <a href="/images/models/silver/gallery/picture-3.jpg" class="mfp-image">
                        <img src="/images/models/silver/gallery/picture-3.jpg" alt="" class="img-fluid">
                    </a>
                </div>
                <div class="item m-3">
                    <a href="/images/models/silver/gallery/picture-4.jpg" class="mfp-image">
                        <img src="/images/models/silver/gallery/picture-4.jpg" alt="" class="img-fluid">
                    </a>
                </div>
                <div class="item m-3">
                    <a href="/images/models/silver/gallery/picture-5.jpg" class="mfp-image">
                        <img src="/images/models/silver/gallery/picture-5.jpg" alt="" class="img-fluid">
                    </a>
                </div>
                <div class="item m-3">
                    <a href="/images/models/silver/gallery/picture-6.jpg" class="mfp-image">
                        <img src="/images/models/silver/gallery/picture-6.jpg" alt="" class="img-fluid">
                    </a>
                </div>
                <div class="item m-3">
                    <a href="/images/models/silver/gallery/picture-7.jpg" class="mfp-image">
                        <img src="/images/models/silver/gallery/picture-7.jpg" alt="" class="img-fluid">
                    </a>
                </div>
                <div class="item m-3">
                    <a href="/images/models/silver/gallery/picture-8.jpg" class="mfp-image">
                        <img src="/images/models/silver/gallery/picture-8.jpg" alt="" class="img-fluid">
                    </a>
                </div>
                <div class="item m-3">
                    <a href="/images/models/silver/gallery/picture-9.jpg" class="mfp-image">
                        <img src="/images/models/silver/gallery/picture-9.jpg" alt="" class="img-fluid">
                    </a>
                </div>
                <div class="item m-3">
                    <a href="/images/models/silver/gallery/picture-10.jpg" class="mfp-image">
                        <img src="/images/models/silver/gallery/picture-10.jpg" alt="" class="img-fluid">
                    </a>
                </div>
                <div class="item m-3">
                    <a href="/images/models/silver/gallery/picture-11.jpg" class="mfp-image">
                        <img src="/images/models/silver/gallery/picture-11.jpg" alt="" class="img-fluid">
                    </a>
                </div>
                <div class="item m-3">
                    <a href="/images/models/silver/gallery/picture-12.jpg" class="mfp-image">
                        <img src="/images/models/silver/gallery/picture-12.jpg" alt="" class="img-fluid">
                    </a>
                </div>
                <div class="item m-3">
                    <a href="/images/models/silver/gallery/picture-13.jpg" class="mfp-image">
                        <img src="/images/models/silver/gallery/picture-13.jpg" alt="" class="img-fluid">
                    </a>
                </div>
                <div class="item m-3">
                    <a href="/images/models/silver/gallery/picture-14.jpg" class="mfp-image">
                        <img src="/images/models/silver/gallery/picture-14.jpg" alt="" class="img-fluid">
                    </a>
                </div>
                <div class="item m-3">
                    <a href="/images/models/silver/gallery/picture-15.jpg" class="mfp-image">
                        <img src="/images/models/silver/gallery/picture-15.jpg" alt="" class="img-fluid">
                    </a>
                </div>
                <div class="item m-3">
                    <a href="/images/models/silver/gallery/picture-16.jpg" class="mfp-image">
                        <img src="/images/models/silver/gallery/picture-16.jpg" alt="" class="img-fluid">
                    </a>
                </div>
                <div class="item m-3">
                    <a href="/images/models/silver/gallery/picture-17.jpg" class="mfp-image">
                        <img src="/images/models/silver/gallery/picture-17.jpg" alt="" class="img-fluid">
                    </a>
                </div>
                <div class="item m-3">
                    <a href="/images/models/silver/gallery/picture-18.jpg" class="mfp-image">
                        <img src="/images/models/silver/gallery/picture-18.jpg" alt="" class="img-fluid">
                    </a>
                </div>
                <div class="item m-3">
                    <a href="/images/models/silver/gallery/picture-19.jpg" class="mfp-image">
                        <img src="/images/models/silver/gallery/picture-19.jpg" alt="" class="img-fluid">
                    </a>
                </div>
                <div class="item m-3">
                    <a href="/images/models/silver/gallery/picture-20.jpg" class="mfp-image">
                        <img src="/images/models/silver/gallery/picture-20.jpg" alt="" class="img-fluid">
                    </a>
                </div>
                <div class="item m-3">
                    <a href="/images/models/silver/gallery/picture-21.jpg" class="mfp-image">
                        <img src="/images/models/silver/gallery/picture-21.jpg" alt="" class="img-fluid">
                    </a>
                </div>
                <div class="item m-3">
                    <a href="/images/models/silver/gallery/picture-22.jpg" class="mfp-image">
                        <img src="/images/models/silver/gallery/picture-22.jpg" alt="" class="img-fluid">
                    </a>
                </div>
                <div class="item m-3">
                    <a href="/images/models/silver/gallery/picture-23.jpg" class="mfp-image">
                        <img src="/images/models/silver/gallery/picture-23.jpg" alt="" class="img-fluid">
                    </a>
                </div>
                <div class="item m-3">
                    <a href="/images/models/silver/gallery/picture-24.jpg" class="mfp-image">
                        <img src="/images/models/silver/gallery/picture-24.jpg" alt="" class="img-fluid">
                    </a>
                </div>
                <div class="item m-3">
                    <a href="/images/models/silver/gallery/picture-25.jpg" class="mfp-image">
                        <img src="/images/models/silver/gallery/picture-25.jpg" alt="" class="img-fluid">
                    </a>
                </div>
                <div class="item m-3">
                    <a href="/images/models/silver/gallery/picture-26.jpg" class="mfp-image">
                        <img src="/images/models/silver/gallery/picture-26.jpg" alt="" class="img-fluid">
                    </a>
                </div>
                <div class="item m-3">
                    <a href="/images/models/silver/gallery/picture-27.jpg" class="mfp-image">
                        <img src="/images/models/silver/gallery/picture-27.jpg" alt="" class="img-fluid">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Visible only on xs -->
<section class="image-gallery section d-block d-sm-none" id="client">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center">
                <h3>HOME IS ART&trade;</h3>
                <p class="text-muted pt-4">
                    Model Silver 7.0 New Residential Architecture SHEMSS
                    Designer Homes
                </p>
            </div>
        </div>
        <div class="row mt-4 pt-4">
            <div id="carousel-example" class="carousel slide" data-interval="false">
                <div class="carousel-inner row w-100 mx-auto" role="listbox">
                    <div class="carousel-item col-12 active">
                        <img src="/images/models/silver/gallery/picture-1.jpg" class="img-fluid mx-auto d-block" alt="img1">
                    </div>
                    <!-- <div class="carousel-item col-12">
                        <img src="/images/models/silver/gallery/picture-2.jpg" class="img-fluid mx-auto d-block" alt="img2">
                    </div> -->
                    <div class="carousel-item col-12">
                        <img src="/images/models/silver/gallery/picture-3.jpg" class="img-fluid mx-auto d-block" alt="img3">
                    </div>
                    <div class="carousel-item col-12">
                        <img src="/images/models/silver/gallery/picture-4.jpg" class="img-fluid mx-auto d-block" alt="img4">
                    </div>
                    <div class="carousel-item col-12">
                        <img src="/images/models/silver/gallery/picture-5.jpg" class="img-fluid mx-auto d-block" alt="img5">
                    </div>
                    <div class="carousel-item col-12">
                        <img src="/images/models/silver/gallery/picture-6.jpg" class="img-fluid mx-auto d-block" alt="img6">
                    </div>
                    <div class="carousel-item col-12">
                        <img src="/images/models/silver/gallery/picture-7.jpg" class="img-fluid mx-auto d-block" alt="img7">
                    </div>
                    <div class="carousel-item col-12">
                        <img src="/images/models/silver/gallery/picture-8.jpg" class="img-fluid mx-auto d-block" alt="img8">
                    </div>
                    <div class="carousel-item col-12">
                        <img src="/images/models/silver/gallery/picture-9.jpg" class="img-fluid mx-auto d-block" alt="img9">
                    </div>
                    <div class="carousel-item col-12">
                        <img src="/images/models/silver/gallery/picture-10.jpg" class="img-fluid mx-auto d-block" alt="img10">
                    </div>
                    <div class="carousel-item col-12">
                        <img src="/images/models/silver/gallery/picture-11.jpg" class="img-fluid mx-auto d-block" alt="img11">
                    </div>
                    <div class="carousel-item col-12">
                        <img src="/images/models/silver/gallery/picture-12.jpg" class="img-fluid mx-auto d-block" alt="img12">
                    </div>
                    <div class="carousel-item col-12">
                        <img src="/images/models/silver/gallery/picture-13.jpg" class="img-fluid mx-auto d-block" alt="img13">
                    </div>
                    <div class="carousel-item col-12">
                        <img src="/images/models/silver/gallery/picture-14.jpg" class="img-fluid mx-auto d-block" alt="img14">
                    </div>
                    <div class="carousel-item col-12">
                        <img src="/images/models/silver/gallery/picture-15.jpg" class="img-fluid mx-auto d-block" alt="img15">
                    </div>
                    <div class="carousel-item col-12">
                        <img src="/images/models/silver/gallery/picture-16.jpg" class="img-fluid mx-auto d-block" alt="img16">
                    </div>
                    <div class="carousel-item col-12">
                        <img src="/images/models/silver/gallery/picture-17.jpg" class="img-fluid mx-auto d-block" alt="img17">
                    </div>
                    <div class="carousel-item col-12">
                        <img src="/images/models/silver/gallery/picture-18.jpg" class="img-fluid mx-auto d-block" alt="img12">
                    </div>
                    <div class="carousel-item col-12">
                        <img src="/images/models/silver/gallery/picture-19.jpg" class="img-fluid mx-auto d-block" alt="img13">
                    </div>
                    <div class="carousel-item col-12">
                        <img src="/images/models/silver/gallery/picture-20.jpg" class="img-fluid mx-auto d-block" alt="img14">
                    </div>
                    <div class="carousel-item col-12">
                        <img src="/images/models/silver/gallery/picture-21.jpg" class="img-fluid mx-auto d-block" alt="img15">
                    </div>
                    <div class="carousel-item col-12">
                        <img src="/images/models/silver/gallery/picture-22.jpg" class="img-fluid mx-auto d-block" alt="img16">
                    </div>
                    <div class="carousel-item col-12">
                        <img src="/images/models/silver/gallery/picture-23.jpg" class="img-fluid mx-auto d-block" alt="img17">
                    </div>
                    <div class="carousel-item col-12">
                        <img src="/images/models/silver/gallery/picture-24.jpg" class="img-fluid mx-auto d-block" alt="img14">
                    </div>
                    <div class="carousel-item col-12">
                        <img src="/images/models/silver/gallery/picture-25.jpg" class="img-fluid mx-auto d-block" alt="img15">
                    </div>
                    <div class="carousel-item col-12">
                        <img src="/images/models/silver/gallery/picture-26.jpg" class="img-fluid mx-auto d-block" alt="img16">
                    </div>
                    <div class="carousel-item col-12">
                        <img src="/images/models/silver/gallery/picture-27.jpg" class="img-fluid mx-auto d-block" alt="img17">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carousel-example" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only" style="margin-left: 25px !important;">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carousel-example" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only" style="margin-right: 25px !important;">Next</span>
                </a>
            </div>
        </div>
    </div>
</section>

<!--===== Modal Form =====-->
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <form class="modal-dialog modal-lg configurator-root" role="document" action="/agreement/">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
            Model Specs:
            <br class="d-md-none"><small class="model-specs text-muted"></small>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
         <div class="silver-7-0-kings-canyon-rh" data-model="silver-7-0" style="height: 55vh !important;">
            <!-- <div class="bg-overlay"></div> -->
            <div class="parent">
                <div class="child-1">
                    <input type="hidden" name="model" value="silver-7-0">
                    <!-- Visible on md and lg -->
                    <p class="home-title-1 d-none d-sm-block">Model Silver 7.0</p>
                    <!-- Visible only on xs -->
                    <p class="home-title-2 d-block d-sm-none">Model Silver 7.0</p>
                        <ul class="list-inline text-uppercase pt-2" style="line-height: 1.0em; color: #ffffff;">
                            <li class="list-inline-item" style="margin-right: 1.0em;">
                                <small><b style="font-size: 1.75em;">3</b><br>bed</small>
                            </li>
                            <li class="list-inline-item" style="margin-right: 1.0em;">
                                <small><b style="font-size: 1.75em;">2</b><br>bath</small>
                            </li>
                            <li class="list-inline-item" style="margin-right: 1.0em;">
                                <small><b style="font-size: 1.75em;">1270</b><br>sq. feet</small>
                            </li>
                            <!-- <li class="list-inline-item">
                                <small class="d-none d-sm-block"><b style="font-size: 1.75em;">$9,800</b><br>Started at</small>
                            </li> -->
                        </ul>
                        <!-- <p class="list-inline-item pt-2 d-block d-sm-none" style="color:  #ffffff; opacity: 0.8;">
                            <small>Started at <b>$9,800</b></small>
                        </p> -->
                </div>
            </div>
        </div>
      </div>
      <div class="m-3">
          <div class="parent-model-configurator">
                    <!-- <div class="hiddenradio" style="border-radius: 50%"> -->
                        <!-- Visible on md and lg -->
                        <!-- <h5 class="text-center d-none d-sm-block">Model</h5> -->
                        <!-- Visible only on xs -->
                        <!-- <h6 class="text-center d-block d-sm-none">Model</h6>
                        <label>
                          <input type="radio" name="model" value="model-7-0" checked>
                          <img class="rounded-circle" src="/images/models/silver/configurator/model-7-0.png">
                        </label> -->

                        <!-- <label>
                          <input type="radio" name="model" value="model-7-1">
                          <img class="rounded-circle d-none d-sm-block" width="34px" src="/images/models/silver/configurator/model-7-1.png">
                        </label>

                        <label>
                          <input type="radio" name="model" value="model-7-2">
                          <img class="rounded-circle d-none d-sm-block" width="34px" src="/images/models/silver/configurator/model-7-2.png">
                        </label> -->
                    <!-- </div> -->

                    <div class="hiddenradio">
                        <!-- Visible on md and lg -->
                        <h5 class="text-center d-none d-sm-block">Exterior</h5>
                        <!-- Visible only on xs -->
                        <h6 class="text-center d-block d-sm-none">Exterior</h6>
                        <label>
                          <input type="radio" class="config-btn" data-side="exterior" name="exterior" value="kings-canyon" checked>
                          <img class="rounded-circle" src="/images/models/silver/configurator/7-0-kings-canyon.jpg">
                        </label>

                        <label>
                          <input type="radio" class="config-btn" data-side="exterior" name="exterior" value="crossroads">
                          <img class="rounded-circle" src="/images/models/silver/configurator/7-0-crossroads.jpg">
                        </label>

                        <label>
                          <input type="radio" class="config-btn" data-side="exterior" name="exterior" value="ash-tree">
                          <img class="rounded-circle" src="/images/models/silver/configurator/7-0-ash-tree.jpg">
                        </label>
                    </div>

                    <div class="hiddenradio">
                        <!-- Visible on md and lg -->
                        <h5 class="text-center d-none d-sm-block">Layout</h5>
                        <!-- Visible only on xs -->
                        <h6 class="text-center d-block d-sm-none">Layout</h6>
                        <label>
                          <input type="radio" class="config-btn" data-side="exterior" name="layout" value="rh" checked>
                          <img class="rounded-circle" src="/images/models/silver/configurator/rh.png">
                        </label>

                        <label>
                          <input type="radio" class="config-btn" data-side="exterior" name="layout" value="lh">
                          <img class="rounded-circle" src="/images/models/silver/configurator/lh.png">
                        </label>
                    </div>

                    <div class="hiddenradio">
                        <!-- Visible on md and lg -->
                        <h5 class="text-center d-none d-sm-block">Interior</h5>
                        <!-- Visible only on xs -->
                        <h6 class="text-center d-block d-sm-none">Interior</h6>
                        <label>
                          <input type="radio" class="config-btn" data-side="interior" name="interior" value="int-dark" checked>
                          <img class="rounded-circle" src="/images/models/silver/configurator/int-dark.jpg">
                        </label>

                        <label>
                          <input type="radio" class="config-btn" data-side="interior" name="interior" value="int-light">
                          <img class="rounded-circle" src="/images/models/silver/configurator/int-light.jpg">
                        </label>
                    </div>

                    <!-- <div class="hiddenradio"> -->
                        <!-- Visible on md and lg -->
                        <!-- <h5 class="text-center d-none d-sm-block">Play</h5> -->
                        <!-- Visible only on xs -->
                        <!-- <h6 class="text-center d-block d-sm-none">Play</h6> -->
                        <!-- Visible on md and lg -->
                        <!-- <div class="text-center mt-3 d-none d-sm-block">
                            <a href="https://res.cloudinary.com/shemss-designer-homes/video/upload/v1628268487/Small_Modern_Home___Scandinavian_Design___Lake_Tahoe___By_SHEMSS_tg7orh.mp4" class="mx-auto video-play-icon" style="color: #3e6ae1;" id="video-play-icon"><i class="mdi mdi-play"></i></a>
                        </div> -->
                        <!-- Visible only on xs -->
                        <!-- <div class="text-center mt-3 d-block d-sm-none">
                            <a href="https://res.cloudinary.com/shemss-designer-homes/video/upload/v1628268487/Small_Modern_Home___Scandinavian_Design___Lake_Tahoe___By_SHEMSS_tg7orh.mp4" class="mx-auto video-play-icon-mobile" style="color: #3e6ae1;" id="video-play-icon"><i class="mdi mdi-play"></i></a>
                        </div>
                    </div> -->
                </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </form>
</div>

