---
layout: layout
---

<!--====== Hazel Model Configurator Screen ======-->
<section class="home-section" id="home">
    <div class="hazel-9-2-grey-rh" data-model="hazel-9-2">
        <div class="bg-overlay"></div>
        <div class="parent">
            <div class="child-1">
                <!-- Visible on md and lg -->
                <p class="home-title-1 d-none d-sm-block">Model Hazel 9.2</p>
                <!-- Visible only on xs -->
                <p class="home-title-2 d-block d-sm-none">Model Hazel 9.2</p>
                    <ul class="list-inline text-uppercase pt-2" style="line-height: 1.0em; color: #ffffff;">
                        <li class="list-inline-item" style="margin-right: 1.0em;">
                            <small><b style="font-size: 1.75em;">4</b><br>bed</small>
                        </li>
                        <li class="list-inline-item" style="margin-right: 1.0em;">
                            <small><b style="font-size: 1.75em;">3</b><br>bath</small>
                        </li>
                        <li class="list-inline-item" style="margin-right: 1.0em;">
                            <small><b style="font-size: 1.75em;">2</b><br>car garage</small>
                        </li>
                        <li class="list-inline-item" style="margin-right: 1.0em;">
                            <small><b style="font-size: 1.75em;">2700</b><br>sq. feet</small>
                        </li>
                        <!-- <li class="list-inline-item">
                            <small class="d-none d-sm-block"><b style="font-size: 1.75em;">$9,800</b><br>Started at</small>
                        </li> -->
                    </ul>
                    <!-- <p class="list-inline-item pt-2 d-block d-sm-none" style="color:  #ffffff; opacity: 0.8;">
                        <small>Started at <b>$9,800</b></small>
                    </p> -->
            </div>
            <div class="child-4"></div>
        </div>
    </div>
</section>
<!--====== End of Hazel Model Configurator Screen ======-->

<!--====== Hazel Model Configurator Control Bar ======-->
<section class="section bg-light">
    <div class="container">
    <div class="parent-model-configurator">
        <div class="hiddenradio" style="border-radius: 50%">
            <!-- Visible on md and lg -->
            <h5 class="text-center d-none d-sm-block">Model</h5>
            <!-- Visible only on xs -->
            <h6 class="text-center d-block d-sm-none">Model</h6>
            <label>
              <input type="radio" name="model" value="model-9-0" onClick="window.location = '/models/hazel/hazel-9-0-floor-plan';">
              <img class="rounded-circle adjust-me-based-on-size" src="/images/models/hazel-9-2/configurator/model-9-0.png">
            </label>

            <label>
              <input type="radio" name="model" value="model-9-1" onClick="window.location = '/models/hazel/hazel-9-1-floor-plan';">
              <img class="rounded-circle adjust-me-based-on-size" src="/images/models/hazel-9-2/configurator/model-9-1.png">
            </label>

            <label>
              <input type="radio" name="model" value="model-9-2" checked>
              <img class="rounded-circle adjust-me-based-on-size" src="/images/models/hazel-9-2/configurator/model-9-2.png">
            </label>
        </div>

        <div class="hiddenradio">
            <!-- Visible on md and lg -->
            <h5 class="text-center d-none d-sm-block">Exterior</h5>
            <!-- Visible only on xs -->
            <h6 class="text-center d-block d-sm-none">Exterior</h6>
            <label>
              <input type="radio" class="config-btn" data-side="exterior" name="exterior" value="grey" checked>
              <img class="rounded-circle adjust-me-based-on-size" src="/images/models/hazel-9-2/configurator/9-2-grey.jpg">
            </label>

            <!-- <label>
              <input type="radio" class="config-btn" data-side="exterior" name="exterior" value="crossroads">
              <img class="rounded-circle adjust-me-based-on-size" src="/images/models/hazel/configurator/7-0-crossroads.jpg">
            </label>

            <label>
              <input type="radio" class="config-btn" data-side="exterior" name="exterior" value="ash-tree">
              <img class="rounded-circle adjust-me-based-on-size" src="/images/models/hazel/configurator/7-0-ash-tree.jpg">
            </label> -->
        </div>

        <div class="hiddenradio">
            <!-- Visible on md and lg -->
            <h5 class="text-center d-none d-sm-block">Layout</h5>
            <!-- Visible only on xs -->
            <h6 class="text-center d-block d-sm-none">Layout</h6>
            <label>
              <input type="radio" class="config-btn" data-side="exterior" name="layout" value="rh" checked>
              <img class="rounded-circle adjust-me-based-on-size" src="/images/models/hazel-9-2/configurator/rh.png">
            </label>

            <!-- <label>
              <input type="radio" class="config-btn" data-side="exterior" name="layout" value="lh">
              <img class="rounded-circle adjust-me-based-on-size" src="/images/models/silver/configurator/lh.png">
            </label> -->
        </div>

        <!-- <div class="hiddenradio"> -->
            <!-- Visible on md and lg -->
            <!-- <h5 class="text-center d-none d-sm-block">Interior</h5> -->
            <!-- Visible only on xs -->
            <!-- <h6 class="text-center d-block d-sm-none">Interior</h6>
            <label>
              <input type="radio" class="config-btn" data-side="interior" name="interior" value="int-light" checked>
              <img class="rounded-circle adjust-me-based-on-size" src="/images/models/hazel-9-2/configurator/int-light.jpg">
            </label> -->

            <!-- <label>
              <input type="radio" class="config-btn" data-side="interior" name="interior" value="int-light">
              <img class="rounded-circle adjust-me-based-on-size" src="/images/models/silver/configurator/int-light.jpg">
            </label> -->
        <!-- </div> -->

        <div class="hiddenradio">
            <!-- Visible on md and lg -->
            <h5 class="text-center d-none d-sm-block">Play</h5>
            <!-- Visible only on xs -->
            <h6 class="text-center d-block d-sm-none">Play</h6>
            <!-- Visible on md and lg -->
            <div class="text-center mt-3 d-none d-sm-block">
                <a href="https://res.cloudinary.com/shemss-designer-homes/video/upload/v1628198684/Luxury_Mountain_Modern_Home___Lake_Tahoe___Clement_By_SHEMSS_tpfndc.mp4" class="mx-auto video-play-icon" style="color: #3e6ae1;" id="video-play-icon"><i class="mdi mdi-play"></i></a>
            </div>
            <!-- Visible only on xs -->
            <div class="text-center mt-3 d-block d-sm-none">
                <a href="https://res.cloudinary.com/shemss-designer-homes/video/upload/v1628198684/Luxury_Mountain_Modern_Home___Lake_Tahoe___Clement_By_SHEMSS_tpfndc.mp4" class="mx-auto video-play-icon-mobile" style="color: #3e6ae1;" id="video-play-icon"><i class="mdi mdi-play"></i></a>
            </div>
        </div>
    </div>
    </div>
</section>
<!--====== End of Hazel Model Configurator Control Bar ======-->

<!--====== Hazel Model Description ======-->
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <!-- Visible on md and lg -->
                <h1 class="text-center mt-5 d-none d-sm-block">Plan Description</h1>
                <!-- Visible only on xs -->
                <h1 class="text-center d-block d-sm-none">Plan Description</h1>
                <h4 class="text-center pt-3">
                    <strong>40x47 Building Area</strong>
                </h4>
                <p class="text-muted p-3 mt-3">
                    Hazel 9.2 model Classic Mid-Century Modern style. This home
                    features modern kitchen cabinets and a large island with
                    quartz countertops. The Great room features a fireplace
                    which creates irresistible coziness and warmth. Relax in the
                    inviting master suite you can enjoy the sunrise every
                    morning from the expansive sliding doors and a cup of coffee
                    on the private balcony. Our Modern designs capture the
                    spirit of fine architecture, which results in truly unique
                    homes.
                </p>
            </div>
            <div class="col-md-8">
                <img src="/images/models/hazel-9-2/configurator/9-2-plan-rh.png" alt="" class="img-fluid mx-auto d-block">
            </div>
        </div>
        <!-- <div class="text-center">
            <a href="https://my.matterport.com/show/?m=FhUxeamuuym" class="btn btn-outline-dark btn-rounded">Explore 3D Space</a>
        </div> -->
    </div>
</section>
<!--====== End of Hazel Model Description ======-->

<!--====== Price ======-->
<section class="section price bg-light" id="pricing">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center">
                <h3>Order Here &amp; Build Anywhere</h3>
                <p class="text-muted pt-4">
                    Designer homes solution, architectural plans, and
                    building material delivery company.
                </p>
            </div>
        </div>
        <div class="row pt-2 mt-3">
            <div class="col-lg-4">
                <h3 class="text-center p-3 mt-3" style="font-weight:900">Elite</h3>
                <div class="bg-white mt-3 text-center p-5">
                    <div class="plan-name">
                        <h6 class="mb-4" style="font-weight: 600 !important;">Home Plan, Design, &amp; Materials</h6>
                    </div>
                    <div class="plan-price">
                        <h4 class="pt-2">Call For Price</h4>
                    </div>
                    <div class="plan-features pt-4">
                        <p>Floorplan &amp; Design Drawings</p>
                        <p>PDF | CAD</p>
                        <p>Structural Material List</p>
                        <p>Exterior &amp; Interior Design Package</p>
                        <p>Hardcopy Book of the Model</p>
                        <p>Blueprint Copy</p>
                        <p>Finish Materials</p>
                        <p>Delivered to Site</p>
                    </div>
                    <div class="order pt-4">
                        <a href="/docs/package-specs-elite-and-premium.pdf" class="btn btn-outline-dark btn-rounded w-75">Package Specs</a>
                        <p class="pt-3">
                            <a href="tel:8889605263" class="btn btn-custom btn-rounded w-75"><i class="mdi mdi-phone icon icon--xs"></i> Call Now</a></a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <h3 class="text-center p-3 mt-3" style="font-weight:900">Premium</h3>
                <div class="bg-white mt-3 active text-center p-5">
                    <div class="plan-name">
                        <h6 class="mb-4" style="font-weight: 600 !important;">Home Plan &amp; Design</h6>
                    </div>
                    <div class="plan-price">
                        <h3 class="pt-2"><span>$</span>21,200</h3>
                    </div>
                    <div class="plan-features pt-4">
                        <p>Floorplan &amp; Design Drawings</p>
                        <p>PDF | CAD</p>
                        <p>Structural Material List</p>
                        <p>Exterior &amp; Interior Design Package</p>
                        <p>Hard Copy Book of the Model</p>
                        <p>Blueprint Copy</p>
                    </div>
                    <div class="order pt-4">
                        <a href="/docs/package-specs-silver-7-0-premium-and-classic.pdf" class="btn btn-outline-dark btn-rounded w-75">Package Specs</a>
                        <p class="pt-3">
                            <!-- <a href="https://na4.docusign.net/Member/PowerFormSigning.aspx?PowerFormId=da0b1b07-db19-49da-b672-3136de28155d&env=na4&acct=65a7e636-807c-4ffa-aa59-4bf5ccf71f6f&v=2" class="btn btn-custom btn-rounded w-75">Order Now</a> -->
                            <a href="/models/hazel/hazel-9-2-premium-agreement" class="btn btn-custom btn-rounded w-75">Order Now</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <h3 class="text-center p-3 mt-3" style="font-weight:900">Classic</h3>
                <div class="bg-white mt-3 text-center p-5">
                    <div class="plan-name">
                        <h6 class="mb-4" style="font-weight: 600 !important;">Home Plan</h6>
                    </div>
                    <div class="plan-price">
                        <h3 class="pt-2"><span>$</span>9,800</h3>
                    </div>
                    <div class="plan-features pt-4">
                        <p>Floorplan &amp; Design Drawings</p>
                        <p>PDF | CAD</p>
                        <p>Structural Material List</p>
                    </div>
                    <div class="order pt-4">
                        <a href="/docs/package-specs-silver-7-0-premium-and-classic.pdf" class="btn btn-outline-dark btn-rounded w-75">Package Specs</a>
                        <p class="pt-3">
                            <!-- <a href="https://na4.docusign.net/Member/PowerFormSigning.aspx?PowerFormId=c08e5828-4e85-4251-964f-60a500000f5a&env=na4&acct=65a7e636-807c-4ffa-aa59-4bf5ccf71f6f&v=2" class="btn btn-custom btn-rounded w-75">Order Now</a> -->
                            <a href="/models/hazel/hazel-9-2-classic-agreement" class="btn btn-custom btn-rounded w-75">Order Now</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--====== End Price ======-->
