---
layout: layout
---

<section class="about-us-home-bg" id="home">
    <div class="bg-overlay"></div>
    <div class="home-table">
        <div class="home-table-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 pt-3">
                        <div class="text-left text-white">
                            <h1 class="home-title" style="margin-bottom: 35px;">Design, Deliver &amp; Build Anywhere!</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section" id="service">
    <div class="container">
        <div class="row justify-content-left">
            <div class="col-md-8 text-left">
                    <p>
                        SHEMSS Homes is a designer homes solution company that
                        has unlocked the opportunity for a designer home to be
                        delivered right to you. In our 20 years of home building
                        experience, we have developed and reinvented the wheel
                        of the building process from the ground up within a
                        fraction of the time of traditional construction.
                    </p>
                    <p>
                        A solution packaged with designer architectural plans,
                        structural and finished material delivered right to your
                        job site. We offer 3 packages at a fixed contract
                        &mdash; Elite, Premium, and Classic. Simply choose from
                        one of our three packages and consolidate every step
                        into one delivery.
                    </p>
                    <p>
                        The process is optimized to eliminate the hassle of
                        various logistics saving you time for more important
                        things in life. We offer modern architecture designer
                        homes with high-quality materials and welcoming floor
                        plans.
                    </p>
                    <p>
                        It’s our mission to Deliver Designer Homes.
                    </p>
            </div>
        </div>
    </div>
</section>
