<pre id="parameters"></pre>

<div id="agreement">
  <p>Agreement for <span id="agreement-model"></span> (<span id="agreement-layout"></span> Layout)</p>
</div>

<script>
  (() => {
    const params = location.search.slice(1).split('&')
    .map(part => part.split('=').map(decodeURIComponent))
    .reduce((obj, pair) => ({ ...obj, [pair[0]]: pair[1] }), {})

    const dict = {
      silver: {
        ext_brown: {
          rh: {
            int_green: {
              name: 'Silver 7.0 — Brown Exterior, Right-Handed, Dark Interior',
              url: 'kjfhdkjhsdkjfhdskjfh',
            },
            int_red: 'dfkjfhgkdfjghfkdjgh',
          },
          lh: {
            int_green: 'sdkjfhsdkjfhsdkjfh',
            int_red: 'slkdfsdjfdsjf',
          },
        },
        ext_orange: {
          rh: {
            int_green: 'kjfhdkjhsdkjfhdskjfh',
            int_red: 'dfkjfhgkdfjghfkdjgh',
          },
          lh: {
            int_green: 'sdkjfhsdkjfhsdkjfh',
            int_red: 'slkdfsdjfdsjf',
          },
        }
      },
    }

    const model = (() => {
      try {
        return dict[params.model]['ext_' + params.exterior][params.layout]['int_' + params.interior]
      } catch (e) {
        document.getElementById('agreement').textContent = 'No model found with given configuration'
      }
    })()

    if (model) {
      document.getElementById('agreement-model').textContent = params.model
      document.getElementById('agreement-layout').textContent = layoutDict[params.layout]

      document.getElementById('parameters').appendChild(
        document.createTextNode(JSON.stringify(params, null, 2))
      )
    }

  })()
</script>
