---
layout: layout
---

<!-- Silver Model Main Page Slider -->

<!-- Visible on md and lg -->
<section class="home-section d-none d-sm-block" id="home">
    <div id="carouselExampleControls" class="carousel slide" data-interval="false">
        <div class="carousel-inner">
            <!-- Silver 7.0 -->
            <div class="carousel-item active" style="background-image: url('/images/models/silver/silver-7-0.jpg');">
                <div class="home-center">
                    <!-- <div class="bg-overlay"></div> -->
                    <div class="d-flex justify-content-center flex-column" style="height: 90vh;">
                        <div class="mt-2"></div>
                        <div class="mt-5 pt-5">
                            <div class="home-title-1 mt-5 text-center">Model Silver 7.0</div>
                            <h3 class="text-center text-white m-3">Home Plans</h3>
                        </div>
                        <div class="watch-video text-center mt-auto">
                            <a href="/models/silver/silver-floor-plan" class="btn btn-outline-custom btn-rounded mt-2">Order Plan</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Silver 7.1 -->
            <!-- <div class="carousel-item" style="background-image: url('/images/models/silver/silver-7-1.jpg');">
                <div class="home-center">
                    <div class="bg-overlay"></div>
                    <div class="parent">
                        <div class="child-0"></div>
                        <div class="child-1">
                            <p class="home-title-1">Model Silver 7.1</p>
                            <h3 class="text-center text-white m-3">Home Plans</h3>
                        </div>
                        <div class="child-2"></div>
                        <div class="child-3">
                            <div class="watch-video pt-4 mt-1">
                                <a href="silver-floor-plan.html" class="btn btn-outline-custom btn-rounded mt-2">Order Plan</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->

            <!-- Silver 7.2 -->
            <!-- <div class="carousel-item" style="background-image: url('/images/models/silver/silver-7-2.jpg');">
                <div class="home-center">
                    <div class="bg-overlay"></div>
                    <div class="parent">
                        <div class="child-0"></div>
                        <div class="child-1">
                            <p class="home-title-1">Model Silver 7.2</p>
                            <h3 class="text-center text-white m-3">Home Plans</h3>
                        </div>
                        <div class="child-2"></div>
                        <div class="child-3">
                            <div class="watch-video pt-4 mt-1">
                                <a href="silver-floor-plan.html" class="btn btn-outline-custom btn-rounded mt-2">Order Plan</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a> -->
    </div>
</section>

<!-- Visible only on xs -->
<section class="home-section d-block d-sm-none" id="home">
    <div id="carouselExampleControls-1" class="carousel slide" data-interval="false">
        <div class="carousel-inner">
            <!-- Silver 7.0 -->
            <div class="carousel-item active" style="background-image: url('/images/models/silver/silver-7-0-mobile.jpg');">
                <div class="home-center" style="background-size: 160%">
                    <!-- <div class="bg-overlay"></div> -->
                    <div class="d-flex justify-content-center flex-column" style="height: 82vh;">
                         <div class="mt-1"></div>
                        <div class="mt-5 pt-5">
                            <p class="home-title-2 text-center">Model Silver 7.00</p>
                            <h3 class="text-center text-white m-3">Home Plans</h3>
                        </div>
                        <div class="watch-video mt-auto text-center">
                            <a href="/models/silver/silver-floor-plan" class="btn btn-outline-custom btn-rounded mt-2">Order Plan</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Silver 7.1 -->
            <!-- <div class="carousel-item" style="background-image: url('/images/models/silver/silver-7-1-mobile.jpg');">
                <div class="home-center">
                    <div class="bg-overlay"></div>
                    <div class="parent">
                        <div class="child-0"></div>
                        <div class="child-1">
                            <p class="home-title-1">Model Silver 7.1</p>
                            <h3 class="text-center text-white m-3">Home Plans</h3>
                        </div>
                        <div class="child-2"></div>
                        <div class="child-3-xs">
                            <div class="watch-video pt-4 mt-1">
                                <a href="silver-floor-plan.html" class="btn btn-outline-custom btn-rounded mt-2">Order Plan</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->

            <!-- Silver 7.2 -->
            <!-- <div class="carousel-item" style="background-image: url('/images/models/silver/silver-7-2-mobile.jpg');">
                <div class="home-center">
                    <div class="bg-overlay"></div>
                    <div class="parent">
                        <div class="child-0"></div>
                        <div class="child-1">
                            <p class="home-title-1">Model Silver 7.2</p>
                            <h3 class="text-center text-white m-3">Home Plans</h3>
                        </div>
                        <div class="child-2"></div>
                        <div class="child-3-xs">
                            <div class="watch-video pt-4 mt-1">
                                <a href="silver-floor-plan.html" class="btn btn-outline-custom btn-rounded mt-2">Order Plan</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
        <!-- <a class="carousel-control-prev" href="#carouselExampleControls-1" style="margin-left: 12px;" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls-1" style="margin-right: 10px;" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a> -->
    </div>
</section>

<!-- Shimizu Model Main Page Slider -->

<!-- Visible on md and lg -->
<section class="home-section d-none d-sm-block" id="home">
    <div id="carouselExampleControls" class="carousel slide" data-interval="false">
        <div class="carousel-inner">
            <!-- Shimizu 6.0 -->
            <div class="carousel-item active" style="background-image: url('/images/models/shimizu/shimizu-6-0.jpg');">
                <div class="home-center">
                    <div class="d-flex justify-content-center flex-column" style="height: 90vh;">
                        <div class="mt-2"></div>
                        <div class="mt-5 pt-5">
                            <div class="home-title-1 mt-5 text-center">Model Shimizu 6.0</div>
                            <h3 class="text-center text-white m-3">Home Plans</h3>
                        </div>
                        <div class="watch-video text-center mt-auto">
                            <a href="/models/shimizu/shimizu-floor-plan" class="btn btn-outline-custom btn-rounded mt-2">Order Plan</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Visible only on xs -->
<section class="home-section d-block d-sm-none" id="home">
    <div id="carouselExampleControls" class="carousel slide" data-interval="false">
        <div class="carousel-inner">
            <!-- Shimizu 6.0 -->
            <div class="carousel-item active" style="background-image: url('/images/models/shimizu/shimizu-6-0-mobile.jpg');">
                <div class="home-center">
                    <div class="d-flex justify-content-center flex-column" style="height: 82vh;">
                         <div class="mt-1"></div>
                        <div class="mt-5 pt-5">
                            <p class="home-title-2 text-center">Model Shimizu 6.0</p>
                            <h3 class="text-center text-white m-3">Home Plans</h3>
                        </div>
                        <div class="watch-video mt-auto text-center">
                            <a href="/models/shimizu/shimizu-floor-plan" class="btn btn-outline-custom btn-rounded mt-2">Order Plan</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Tavor Model Main Page Slider -->

<!-- Visible on md and lg -->
<section class="home-section d-none d-sm-block" id="home">
    <div id="carouselExampleControls" class="carousel slide" data-interval="false">
        <div class="carousel-inner">
            <!-- Tavor 8.0 -->
            <div class="carousel-item active" style="background-image: url('/images/models/tavor/tavor-8-0.jpg');">
                <div class="home-center">
                    <div class="d-flex justify-content-center flex-column" style="height: 90vh;">
                        <div class="mt-2"></div>
                        <div class="mt-5 pt-5">
                            <div class="home-title-1 mt-5 text-center">Model Tavor 8.0</div>
                            <h3 class="text-center text-white m-3">Home Plans</h3>
                        </div>
                        <div class="watch-video text-center mt-auto">
                            <a href="/models/tavor/tavor-floor-plan" class="btn btn-outline-custom btn-rounded mt-2">Order Plan</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Visible only on xs -->
<section class="home-section d-block d-sm-none" id="home">
    <div id="carouselExampleControls" class="carousel slide" data-interval="false">
        <div class="carousel-inner">
            <!-- Tavor 8.0 -->
            <div class="carousel-item active" style="background-image: url('/images/models/tavor/tavor-8-0-mobile.jpg');">
                <div class="home-center">
                    <div class="d-flex justify-content-center flex-column" style="height: 82vh;">
                         <div class="mt-1"></div>
                        <div class="mt-5 pt-5">
                            <p class="home-title-2 text-center">Model Tavor 8.0</p>
                            <h3 class="text-center text-white m-3">Home Plans</h3>
                        </div>
                        <div class="watch-video mt-auto text-center">
                            <a href="/models/tavor/tavor-floor-plan" class="btn btn-outline-custom btn-rounded mt-2">Order Plan</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Paloma Model Main Page Slider -->

<!-- Visible on md and lg -->
<section class="home-section d-none d-sm-block" id="home">
    <div id="carouselExampleControls" class="carousel slide" data-interval="false">
        <div class="carousel-inner">
            <!-- Paloma 10.0 -->
            <div class="carousel-item active" style="background-image: url('/images/models/paloma/paloma-10-0.jpg');">
                <div class="home-center">
                    <div class="d-flex justify-content-center flex-column" style="height: 90vh;">
                        <div class="mt-2"></div>
                        <div class="mt-5 pt-5">
                            <div class="home-title-1 mt-5 text-center">Model Paloma 10.0</div>
                            <h3 class="text-center text-white m-3">Home Plans</h3>
                        </div>
                        <div class="watch-video text-center mt-auto">
                            <a href="/models/paloma/paloma-floor-plan" class="btn btn-outline-custom btn-rounded mt-2">Order Plan</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Visible only on xs -->
<section class="home-section d-block d-sm-none" id="home">
    <div id="carouselExampleControls" class="carousel slide" data-interval="false">
        <div class="carousel-inner">
            <!-- Paloma 10.0 -->
            <div class="carousel-item active" style="background-image: url('/images/models/paloma/paloma-10-0-mobile.jpg');">
                <div class="home-center">
                    <div class="d-flex justify-content-center flex-column" style="height: 82vh;">
                         <div class="mt-1"></div>
                        <div class="mt-5 pt-5">
                            <p class="home-title-2 text-center">Model Paloma 10.0</p>
                            <h3 class="text-center text-white m-3">Home Plans</h3>
                        </div>
                        <div class="watch-video mt-auto text-center">
                            <a href="/models/paloma/paloma-floor-plan" class="btn btn-outline-custom btn-rounded mt-2">Order Plan</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- O'Malley Model Main Page Slider -->

<!-- Visible on md and lg -->
<section class="home-section d-none d-sm-block" id="home">
    <div id="carouselExampleControls" class="carousel slide" data-interval="false">
        <div class="carousel-inner">
            <!-- Paloma 10.0 -->
            <div class="carousel-item active" style="background-image: url('/images/models/omalley/omalley-1-0.jpg');">
                <div class="home-center">
                    <div class="d-flex justify-content-center flex-column" style="height: 90vh;">
                        <div class="mt-2"></div>
                        <div class="mt-5 pt-5">
                            <div class="home-title-1 mt-5 text-center">Model O'Malley 1.0</div>
                            <h3 class="text-center text-white m-3">Home Plans</h3>
                        </div>
                        <div class="watch-video text-center mt-auto">
                            <a href="/models/omalley/omalley-floor-plan" class="btn btn-outline-custom btn-rounded mt-2">Order Plan</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Visible only on xs -->
<section class="home-section d-block d-sm-none" id="home">
    <div id="carouselExampleControls" class="carousel slide" data-interval="false">
        <div class="carousel-inner">
            <!-- omalley 10.0 -->
            <div class="carousel-item active" style="background-image: url('/images/models/omalley/omalley-1-0-mobile.jpg');">
                <div class="home-center">
                    <div class="d-flex justify-content-center flex-column" style="height: 82vh;">
                         <div class="mt-1"></div>
                        <div class="mt-5 pt-5">
                            <p class="home-title-2 text-center">Model O'Malley 1.0</p>
                            <h3 class="text-center text-white m-3">Home Plans</h3>
                        </div>
                        <div class="watch-video mt-auto text-center">
                            <a href="/models/omalley/omalley-floor-plan" class="btn btn-outline-custom btn-rounded mt-2">Order Plan</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Of Main Page Sliders -->

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var items = document.querySelectorAll('.carousel-item:not(.active)')
        items.forEach(function (item) { item.style.display = 'block' })
        setTimeout(function () {
            items.forEach(function (item) { item.style.display = '' })
        }, 1000)
    })
</script>

