---
layout: layout
---

<section class="privacy-policy-home-bg " id="home">
    <div class="bg-overlay"></div>
    <div class="home-table">
        <div class="home-table-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 pt-3">
                        <div class="text-left text-white">
                            <h1 class="home-title" style="margin-bottom: 35px;">Confidence &amp; Piece of Mind</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section" id="service">
    <div class="container">
        <div class="row justify-content-left">
            <div class="col-md-8 text-left">
                <h3>PRIVACY POLICY</h3>
                    <p>
                        We have different types of information for purposes to
                        help provide and improve our Services to you. This
                        privacy notice discloses the privacy practices at
                        (www.shemsshomes.com). This privacy notice applies
                        solely to information collected by this website. It will
                        notify you of the following: Which personally
                        identifiable information is collected from you through
                        the website, how it is used and with whom it may be
                        shared. Which options are available to you in regards to
                        the use of your data. Which security procedures are in
                        place to prevent the misuse of your information. How you
                        can correct any inaccuracies in the information.
                    </p>
                    <h4>Information Collection, Use, and Sharing</h4>
                    <p>
                        We are the sole owners of the
                        information collected on this site. We only have access
                        to/collect information that you yourself voluntarily
                        provide us with via email or other direct contact. We
                        will not sell or lease your information to anyone. The
                        information will be used to respond to your inquiry with
                        us. We will not share your information with any other
                        third party outside of our organization, other than as
                        necessary to fulfill your request, e.g. to deliver a
                        package. Unless you ask us not to, we may contact you
                        via email in the future to inform you about our
                        specials, new products or services. We recommend you
                        check our Privacy Policy every so often because if there
                        are any chances made they are effective immediately.
                    </p>
                    <h4>Security</h4>
                    <p>
                        We take precautions to protect your information. When
                        you submit sensitive information via the website, your
                        information is protected both online and offline.
                        Whenever we collect sensitive information (such as
                        credit card data), that information is encrypted and
                        transmitted to us in a secure manner. You can verify
                        this by locating a lock icon in the address bar and
                        looking for "https" at the beginning of the address of
                        the Web page. While we use encryption to protect
                        sensitive information transmitted online, we also
                        protect your information offline. Only employees who
                        need the information to perform a specific task (for
                        example, billing or customer service) are granted access
                        to personally identifiable information. The
                        computers/servers in which we store personally
                        identifiable information are kept in a secure location.
                    </p>
                    <p>
                        If you feel that we are not abiding by this privacy
                        policy, you should contact us immediately via email at
                        info@shemss.com
                    </p>
                    <h4>Links</h4>
                    <p>
                        This website contains links to other sites. Please be
                        aware that we are not responsible for the content or
                        privacy practices of such other sites. We encourage our
                        users to be aware when they leave our site and to read
                        the privacy statements of any other site that collects
                        personally identifiable information.
                    </p>

                    <h4>Children Policy</h4>
                    <p>
                        We are not permitting children under the age of 18 to
                        purchase packages on SHEMSS Homes. If you believe that
                        your child under the age of 18 has had access to a
                        purchase and has provided any personal identifiable
                        information to please contact us and we will remove that
                        information from our data.
                    </p>
            </div>
        </div>
    </div>
</section>
